[2016-04-05 22:41] WickedShell commented on #2669
Page 4-15 of that PDF.

[2016-04-05 22:44] geofrancis commented on #2669
thats only relevant to standard aircraft, wings dont have rudders and arduplane does not stabilise with the rudder at all.

[2016-04-05 22:46] WickedShell commented on #2669
Yup, that's my point actually is that we need to differentiate the recovery
techniques for the type of airframe :)

On Tue, Apr 5, 2016 at 3:44 PM, geofrancis <notifications@github.com> wrote:

[2016-04-05 22:50] geofrancis commented on #2669
well my technique works with wings, but i think it would work with most stalling aircraft the main problem currently is that it always wants to pull up, on my bixler 2 all i had to do was switch to manual briefly and it would immediately recover when switched back. since all it needed to do was stop pulling up to regain control.

[2016-04-05 22:52] WickedShell commented on #2669
Right, I'm just trying to observe that it is generally a bad recovery
technique for non wings that are in a spin.

On Tue, Apr 5, 2016 at 3:50 PM, geofrancis <notifications@github.com> wrote:

[2016-04-05 22:54] geofrancis commented on #2669
your missing the point that the only reason it stays in the spin is because the flight controller is has the elevator at maximum and wont put it down so it can recover. thats where acro comes in since it wont try and pull up, letting the plane recover.

[2016-04-05 22:58] WickedShell commented on #2669
That's not the only reason a standard aircaft would stay in a spin, the
applied throttle while also aggravate the spin and can cause it to
increase, thus that needs to be accounted for as well on a non wing, that's
all I'm trying to observe here.

On Tue, Apr 5, 2016 at 3:54 PM, geofrancis <notifications@github.com> wrote:

[2016-04-05 23:08] geofrancis commented on #2669
the current problem i am trying to address is the flight controller holding max elevator while stalled. it effects all aircraft, i have tested this on a bixler 2 glider and a z84 wing @R5fan also had the same issue, acro mode and manual are the only flight modes that wont fight the stall, both z84 and bixer could be recovered manually but the wing has a habit of snapping into a spin in the opposit

[2016-04-05 23:16] marcmerlin commented on #2669
@WickedShell sorry, I did indeed make the mistake to treat spin = stop spin rotation + stop stall.
In the airplanes I fly, opposite rudder stops the spin so quickly that you don't have time to cut power (nor do you need to).

[2016-04-06 00:38] bugobliterator commented on #3724
@DonLakeFlyer facing north while doing calibration is not a urban legend, its actually the right way to do calibration to rotate about the axes perpendicular to field vector(pointing south to north), which is easy to do when you are facing North/South. Anyways I agree that there needs to be more info (probably a video) on how to do calibration. But I have not heard any questions or confusions on t

[2016-04-06 02:22] DonLakeFlyer commented on #3724
Let me do some digging for the issues I was talking about. I found then when I was trying to find out why my Solo wouldn't complete a compass cal. The issue with the Solo turned out to be the fact that the Solo seems to be very tempermental to completing compass cal indoors. Whereas most everthing else I have can seem to get good compass cal numbers indoors. I think I searched for "solo compass ca

[2016-04-06 02:36] lucasdemarchi commented on #3724
main problem that I see is that there's no feedback to the user on what is missing to complete the calibration. You can tell him to rotate in random directions and the directions will probably not be sufficient because they are biased to rotate in the same direction. My point is that if even us developers are having problems with the steps to complete the calibration, there's something wrong/incom

[2016-04-06 03:20] jcooper21 commented on #2669
I many times I have stalled a flying wing and sent it into a death spiral on purpose. I switch to RTL and it pulls out of the death spiral on its own.

[2016-04-06 03:27] DonLakeFlyer commented on #3724
Doable, but unsure if that would be better. Sometimes making things always be exactly the same is better. PX4 Stack calibration is 7 seconds per side  * 6 sides. So takes little time. The pain comes with large vehicles where side skipping would be helpful.

[2016-04-06 10:34] geofrancis commented on #2669
what wing are you using?

[2016-04-06 10:46] GervaisK opened #3865 "Hott (Graupner) PPM does not work in Pixracer"
My r14 board has probs with Hott (Graupner) PPM .

Calibration works fine, but RC Receiver message appears quite often and Failsafe ´s getting engaged. Probs with 3.3.4 (Pixracer stable), as well as with current master. 4/6/2016

And no, this is not a RC hardware problem. I´ve got several nicely working GR-16

[2016-04-06 11:32] R5fan commented on #2669
@jcooper21
While it may seem to work on your particular plane, its a *terrible* idea. It will only recover from a spin if the plane is really benign and conditions right. What ardupilot currently does in a spin is about the worst thing you can possibly do as a pilot (roll out and pull up). Again, if your plane is well behaved and will recover on its own (sticks neutral) or even with incorrect inpu

[2016-04-06 12:01] nitirohilla commented on #939
@rmackay9 I am intersted in working on this issue. I've also looked into the required changes. But I have a query. As  in  AP_Mission’s mavlink_to_mission_cmd() and mission_cmd_to_mavlink() functions, cmd.p1 is used for abort target altitude in plane (as specified in the comment of the function in AP_Mission.cpp).

Can we use the same paramter (param1) to define LAND delay time in Copter ?

[2016-04-06 12:31] R-Lefebvre commented on #3865
How do you know it's not an RC hardware problem?  You might have other GR-16 systems working well, but you might have one bad unit.  I've got 20 FrSky Rx, and I had one of them that would consistently shut down after a few minutes in the air triggering an RC Failsafe.

One idea to check, I've found that some of my systems go into RC Failsafe if the Tx is *too close* to the Rx while I'm doing bench

[2016-04-06 16:32] rmackay9 commented on #3675
After our discussion on the dev call I think we decided to create a new navigation command (instead of a "do" or "conditional" command).  So a good name might be MAV_CMD_NAV_DELAY.

Here's another related issue: https://github.com/ArduPilot/ardupilot/issues/3675

[2016-04-06 16:35] rmackay9 commented on #939
@nitirohilla, this issue came up in a slightly different context so i've linked it to the other issue (that issue also has a link to yet another issue).  I think instead of adding a delay into the LAND command, we should create  a new navigation command called something like MAV_CMD_NAV_DELAY.  That makes the task a little bigger but it'll be a better result as well.  Think you're up for that?  I

[2016-04-06 21:47] amybear commented on #2790
I'm interested in this functionality. I'm working on an indoor drone navigation application, and it's frustrating that all of the movement commands seem to rely on the vehicle being in GUIDED or AUTO mode (both requiring GPS), even if GPS is not required for that particular movement command.

[2016-04-07 03:03] magicrub commented on #2790
Are you using optical flow or a vision based tracking system for stability?
On Apr 6, 2016 2:47 PM, "amybear" <notifications@github.com> wrote:

[2016-04-07 06:13] rrr6399 opened #3868 "Motor Test is broken in trunk (3.4)"
We updated a couple of different Hexacopters this week with the 3.4 firmware from 4/4/2016. When we tried to run the motor test, it refused to run due to being at too low an altitude.Arming and everything else works fine.

[2016-04-07 11:38] nitirohilla commented on #939
Yes, I am willing to take this issue. Kindly help me to resolve below queries and validate my understanding.

1) Should MAV_CMD_NAV_DELAY command accept the delay time only in UTC time format (only hours, mins and seconds should be provided) or only in seconds or both? For example,

   param 1 -> seconds
   param 2 -> hour (UTC)
   param 3 -> minutes (UTC)
   param 4 -> seconds (UTC)

2) As per th

[2016-04-07 15:38] Tietziano90 commented on #2289
One question, I m using the Arducopter version 3.3.3 how can I implement just this feature of precise time triggering?? I already got my trigger signal from the hotshoe logged with a raspberry pi but if the pixhawk could do that i would love to get the raspi out of the copter!

Thank you so much for your help!!

Cheers Michael

[2016-04-07 15:39] InigoCastro opened #3873 "Instances GPS"
Hello people!  I am a new user of the firmwre code and I am having some problems to understand a concept related to the GPS.
So, I am currently trying to grasp the code of the gps module and I have no idea neither What is nor what role plays a INSTANCE of the gps, and It seems important since it appears constantly in the code

I would welcome some orientation about the concept.

Thank you in advan

[2016-04-07 17:48] amybear commented on #2790
Vision-based, specifically a Google Tango.

[2016-04-08 05:27] marcmerlin opened #3875 "AP 3.5.2's RTL does not seem to recover from inverted flight, and crashed"
Log: http://marc.merlins.org/tmp/2_Inverted_RTL_Crash.BIN
Video of the crash: https://youtu.be/wFwTneYeNY4?t=12m17s

Things start at 10:44 after takeoff, 12:16 in the osd video offset
I was flying manually, lost sight, but sadly I was almost fully inverted by the time I engaged RTL.
However, when it takes over, very weird things happen, the video speaks a thousand words:
RTL pitches to 100 degrees

[2016-04-08 09:42] salonijain12 commented on #2384
@rmackay9 , is the work related to this issue is still in progress, I can replicate this in SITL and I am interested in taking up this bug. Kindly advice.

[2016-04-08 12:26] robustini commented on #3675
Really nice, i wait the integration (also inside the Planner), thanks Randy!

[2016-04-08 16:20] marcmerlin commented on #3812
So I did a test yesterday evening, flew over the RTL point, switched to RTL, and the plane did indeed circle down without using the motor, so that's good.
Now, the logic just needs to be a bit smarter and try to glide down to the RTL location without motor power if some heuristics say it can, and FBW_GLIDE_AIRSPEED is set.

[2016-04-08 16:33] rmackay9 commented on #2384
@salonijain12, yes, it's still an issue.  I don't think anyone is actively looking at it so it'd be great if you took a look at it!

[2016-04-08 17:06] rmackay9 commented on #3868
Ok, thanks.  I suspect we have to set the desired-spool state to be "throttle-unlimited".

[2016-04-08 17:12] rmackay9 commented on #2790
@amybear,
if you're up for modifying and compiling the ardupilot code you could try modifying the mode-requires-gps so that Guided doesn't require the GPS.  a more complete solution is for us to add a new Guided-noGPS flight mode that is a cut-down version of Guided mode and only accepts the attitude request.  So much to do, so little time.
https://github.com/ArduPilot/ardupilot/blob/master/ArduCo

[2016-04-08 17:15] rmackay9 commented on #3873
Questions should probably go to our gitter channel.  https://gitter.im/ArduPilot/ardupilot

In any case, the instance allows the caller to specify which GPS they want to talk to.  So we support more than one GPS although at least for Copter, we don't recommend that because we don't handle the switch over from one GPS to another very well at the moment.

[2016-04-08 17:24] rmackay9 commented on #939
@nitirohilla
I think it should accept a delay in either seconds or with a UTC time.  So the parameters you've listed above looks good to me.
2. i'm not sure actually :-).  we should certainly somehow try and use a system clock instead of getting it from the GPS.  So I think what you're suggesting is correct.
3. yes, i think so.
4.For the MAV_CMD number I think 93 or 94 would work (just before MAV_

[2016-04-09 01:56] marcmerlin commented on #3875
@WickedShell @magicrub could you review my analysis and say if it's sound?

Ok, a big thanks to @tridge who helped teach a man to fish :) and helped me out analyse this.

So here's the summary, plane starts in MANU, mostly inverted (my fault, lost visual on the plane)
I switch RTL right away as this happens.
RTL manages to roll the plane back to almost 100 degrees (from 150 or so), and correctly k

[2016-04-09 01:58] marcmerlin commented on #3875
![rtlcrash_desired_pitch_roll](https://cloud.githubusercontent.com/assets/1369412/14401144/e630ee36-fdbb-11e5-8a2a-ac7cfad1c68e.jpg)
![rtlcrash_imus](https://cloud.githubusercontent.com/assets/1369412/14401142/e630ad68-fdbb-11e5-93f1-51c8b5178582.jpg)
![rtlcrash_map](https://cloud.githubusercontent.com/assets/1369412/14401143/e630d838-fdbb-11e5-89e9-ea1b5f5ba94e.jpg)
![rtlcrash_pid_pitch](https://

[2016-04-09 06:08] jward7 commented on #3625
Lidar (sonarrange) in auto mode would be a fantastic feature. It would greatly increase terrain following accuracy. We use a lightware SF10/c. Works great in loiter and alt hold, but does not work in auto.

[2016-04-09 07:02] magicrub commented on #3625
This has been discussed several times and is on the copter roadmap.
On Apr 8, 2016 11:08 PM, "Justin" <notifications@github.com> wrote:

Lidar (sonarrange) in auto mode would be a fantastic feature. It would
greatly increase terrain following accuracy. We use a lightware SF10/c.
Works great in loiter and alt hold, but does not work in auto.

—
You are receiving this because you are subscribed to t

[2016-04-09 10:21] WickedShell commented on #3873
In general use the primary insurance field, out just call the versions of the functions that don't take an instance argument.

Closing at this isn't an issue, this kind of thing is best asked on gitter or drones-discuss

[2016-04-09 10:21] #3873 closed

[2016-04-09 10:33] WickedShell opened #3879 "GPS arming check does not provide user feedback as to why it's failing"
The ublox authentication of settings is working well, but users who encounter an arming issue due to it not being funny configured are left unsure how they are failing to configure it, and there are no meaningful messages to allow us to easily help them. Easily addressed with a LUT between the bitmask of what needs to be configured and messages. (Will only return the message for the first bit that

[2016-04-09 10:40] WickedShell commented on #3293
This went in awhile ago and I apparently forgot to close the issue. If soft armed it will not save the config.

[2016-04-09 10:40] #3293 closed

[2016-04-09 11:04] geofrancis commented on #3812
i think i had throttle nudge enabled so if i hit RTL and i wanted to fly at minimum airspeed i would have to put the throttle to 0.

i would have thought with it disabled and using the airspeed sensor it would default to your cruse airspeed.

[2016-04-09 13:49] defreng opened #3880 "SET_MESSAGE_INTERVAL not supported"
Hi!
It would be helpful if the new message interval feature would be supported to have more fine-grained control over individual message sending rates

[2016-04-09 18:48] rrr6399 opened #3881 "Guided Takeoff Crashes Hexacopter sometimes in 3.4"
For firmware versions from at least since February 1/2016 and as recent as 4/2/2016, I've observed 3 crashes on two different S900 Hexacopters when performing the following MAVLINK actions:

1.) Arm in stabilize
2.) Switch to guided mode
3) Send msg_command_long with the following attributes set:
        msg_command_long cmd = new msg_command_long(this.systemId, componentId);
        cmd.target_co

[2016-04-09 19:23] rrr6399 commented on #3881
In both crashes, it looks like the copter started spinning in yaw soon after the takeoff command was issued.

[2016-04-09 20:18] geofrancis commented on #3875
is there a reason the ruder has not been used up until now? as far as i know its not stabilised in any way?

[2016-04-09 21:10] jwahono commented on #2303
I do really want this feature.

[2016-04-09 21:33] iskess commented on #3875
The rudder is stabilized, just not by default. You need to activate the yaw controller.

[2016-04-09 21:47] marcmerlin commented on #3875
@geofrancis to be fair, using the rudder would have helped a bit, but it wouldn't have saved this crash. The amount of elevator wrongly applied by AP caused that inverse spin and the ailerons to stall out
@iskess which setting is that? I have these below. Looks like autotune didn't set any and I need to do this by hand, correct?
YAW2SRV_DAMP    0.000000
YAW2SRV_IMAX    1500.000000
YAW2SRV_INT

[2016-04-09 22:22] iskess commented on #3875
Auto tune doesn't do yaw.
I agree it probably wouldn't have saved your plane, I'm just responding to the question as to whether there is a yaw control loop.
For instructions see: http://ardupilot.org/plane/docs/roll-pitch-controller-tuning.html

You need to change _INT and _SLIP

[2016-04-10 00:23] magicrub commented on #3879
Make sure it will notify if a second GPS is not configured if enabled as
auto. That seems to be a popular problem.
On Apr 9, 2016 3:33 AM, "WickedShell" <notifications@github.com> wrote:

[2016-04-10 00:43] Jman841 opened #3882 "TradHeli: extend autotune for TradHelis"
While tuning a Heli is not too difficult if you have a lot of experience, for a new user it can definitely be tricky and can be dangerous as with the P value too high on traditional heli's things can go bad very quickly.

It would be awesome to have an autotune feature for the pitch and roll of Traditional heli's. The Tail is less necessary IMHO as it's fairly easy to tune and if you use values to

[2016-04-10 03:17] squilter commented on #2790
@rmackay9 would guided-nogps support `LOCAL_POSITION_NED` messages also? Unlike attitude messages, it will require optical flow.  But I don't think those need gps.

[2016-04-10 06:22] rrr6399 commented on #3881
BTW, two of the three crashes had the R/C turned off. Don't think that's the problem the takeoff command has worked on my F550 without the R/C turned on. Also, the following fail safes were disabled:  FS_THR_ENABLE, FENCE_ENABLE. One copter had WP_YAW_BEHAVIOR=0 and the other had it set to 2. There appears to be some logic related to yaw where set_auto_yaw_mode(AUTO_YAW_HOLD).

There was no RC INP

[2016-04-10 12:19] pepevalbe commented on #2811
Hi all.

I'm working on this take-off mode. I've spent some time studying the code and I think I can do a Pull Request soon.
During a mission in a take off command there are two important variables: Take-off altitude and take-off minmum pitch angle. We need to decide where to get these variables in the new flight mode. We have some alternatives:
* They are hard coded to a standar value (eg: 50 met

[2016-04-10 12:51] rmackay9 commented on #2811
I would vote for two new parameters.  I'd recommend shortening "_ALTITUDE" to just "_ALT" although to be more sure, I'd check other parameters in Plane to see if "_ALT" or "_ALTITUDE" is used more.
TKOFF_PITCH_MIN would be another option for the naming of the 2nd param although what I think you have there is fine.
I'm more a copter person than a plane person so opinions from TomP and Tridge should

[2016-04-10 13:12] Boyang--Li commented on #2811
What I usually do is setting to Auto mode by radio with the Auto_Takeoff to be the first command in the mission, then throw out the plane away and change to FBWA mode by radio. I think this is a convenient method.

[2016-04-10 14:06] geofrancis opened #3883 "Copter: add high vibration failsafe"
in auto modes if you have some kind of hardware failure there is currently no way for the autopilot to detect them and RTL.

if the aircraft if flying normally in auto and there is a sudden prolonged high vibrations it could trigger RTL or at least flash a high vibration warning message. i know the new mission planner has the little bar graph now for vibrations but that is no use to most users tha

[2016-04-10 14:48] rmackay9 commented on #3883
The high vibration warning message would be best if it's a feature of the GCS I think because the UI is not something we can change in ardupilot (which is what this issues list is for).

Tower can display the vibration levels but it's not enabled by default.  The Tower issue list is here.
https://github.com/DroidPlanner/Tower/issues

We could make a high vibration failsafe (i.e. make it trigger RT

[2016-04-10 14:55] rmackay9 commented on #2790
@squilter, if you've got an optical flow, then the regular Guided mode can be used.  So, no, I don't think LOCATION_POSITION_NED would be supported.

[2016-04-10 15:15] Jman841 commented on #3883
I think the biggest issue is the effect of high frequency vibrations on the accelerometers. Would it be possible for Ardupilot to recognize when the clipping of this gets too high and switch to only using the gyroscopes for attitude estimation?

This could atleast keep the multicopter from flipping and crashing and then switch to land mode immediately, or, maybe RTL using only the barometer and GP

[2016-04-10 15:53] rmackay9 commented on #3883
We've tried a few things to try and make the EKF more resistant to vibration levels with limited success.  One of those things was similar to your suggestion - make the EKF ignore accel values if there is clipping but that didn't work too well.  Now we de-weight the accelerometer that is clipping more (often one clips before the other).

With high vibes the copter doesn't usually flip and crash.

[2016-04-10 17:35] magicrub commented on #2811
Thanks for taking this on Pepe, lots of requests for it. I think the param method is the way to go, hard coded values never end up working well.

What happens when the altitude is reached? If we loiter above home then I would suggest reusing the RTL loiter alt.
Takeoff pitch name sounds good, I would suggest defaulting to a lower value such as 10deg.

This will be an auto throttle mode so please p

[2016-04-10 18:47] pepevalbe commented on #2811
What happens when the altitude is reached or when we switch to back to take-off mode after succesfully taking-off? I have two different options in mind:
* Behave as in RTL mode: Return to launch and loiter at ALT_HOLD_RTL altitude as Tom suggests.
* Behave as in Loiter mode. I prefer this one. If during flight you accidentally switch to take-off mode the plane will just wait in the same point inst

[2016-04-10 19:45] magicrub commented on #2811
Thanks for taking this on Pepe, lots of requests for it. I think the param method is the way to go, hard coded values never end up working well.

What happens when the altitude is reached? If we loiter above home then I would suggest reusing the RTL loiter alt.
Takeoff pitch name sounds good, I would suggest defaulting to a lower value such as 10deg.

This will be an auto throttle mode so please p

[2016-04-10 19:45] R-Lefebvre commented on #3882
Yeah, would be very hard to do which is why I've never bothered trying.  I'm also pretty skeptical of the result.  Particularly with helis which can seem to be fine hovering at a given P-value, but soon as you descent straight down into your own wash, can light up the oscillation.  So the test would have to be ascending and descending.

I have thought it would be much easier, and useful to have do

[2016-04-10 20:07] magicrub commented on #2811
I disagree with option 2, I think loitering at home is much better because after a takeoff the aircraft may be far away from you, maybe even too far for the GCS to communicate to it. Having it return after launch gives you time to work on the GCS while the plane flies in a known location and in a place where if you have a problem its at least much easier to take over manual control.

[2016-04-10 21:19] pepevalbe commented on #2811
I don't think the aircraft would be so far away to lose communication unless you set a really high takeoff altitude. If that was true, what is the point on using automatic takeoff in any mission?
Anyway the idea of this new flight mode is to not to need any GCS for auto takeoff

[2016-04-10 21:32] magicrub commented on #2811
100m at 10deg puts you really far away. It should come back after a takeoff. However, if you switch to this mode while already flying then I would say loitering where you're at is OK even at the current altitude.

[2016-04-10 21:52] pepevalbe commented on #2811
Setting takeoff minum pitch to 10 will make the pitch to be 10deg only at the first stage of the takeoff. Once the aircraft gets enough airspeed the pitch is calculated as always so the plane shuouldn't go so far away.

[2016-04-11 02:08] WillByrum commented on #2811
I would lean towards option 1 (behave as in rtl) because my idea of this mode is an auto launch followed by manual control or a manual check of the aircraft before engaging a mission.

[2016-04-11 03:00] rrr6399 commented on #3881
I noticed that even though the target altitude was 2m, the design altitude grew to 4.54 m
![design-alt-to-barometric-alt-crash](https://cloud.githubusercontent.com/assets/2707426/14415679/65abbd4c-ff67-11e5-8d6f-51a7008b75fe.png)

[2016-04-11 03:25] rrr6399 commented on #3881
I noticed that barometric and relalt pressure is off by a meter initially. The target altitude starts off at 1 m and then ramps to the actual target of 2m.
![alt-relalt-desalt](https://cloud.githubusercontent.com/assets/2707426/14415990/dd88c708-ff6a-11e5-80a3-9efb898576cb.png)

[2016-04-11 03:27] rrr6399 commented on #3881
I noticed that the FCS seems to want to yaw after guided mode even though the pilot didn't command any yaw and there should be no yaw angle targeted:
![yaw-vs-design-yaw](https://cloud.githubusercontent.com/assets/2707426/14416038/667368fc-ff6b-11e5-8762-92037fc8ac45.png)

[2016-04-11 04:02] Jman841 commented on #3883
That's interesting. I have a few logs I can dig up from crashes that I believe were due to high vibrations, or it was a crash due to partial mechanical failure that caused high vibration, but, you can look to see the effects of these on the controller. I will send you them this week.

A little off topic, but, what is the major effects of low frequency vibrations? In the traditional heli side, the

[2016-04-11 04:05] Jman841 commented on #3882
the Feed Forward auto tune is definitely a step in the right direction, but, it seems the P value is the most critical and dangerous for many users to tune, however, to be honest I have no idea of the technicalities required for an autotune system, so, i'm just the good idea fairy on this one. But, any tuning that can be done automatically is a step in the right direction IMHO.

Is it possible for

[2016-04-11 06:41] pwbecker opened #3884 "Text messages are not sent even if SR0_ params are set to non-zero"
Arducopter latest stable on APM 2.6 (v3.2.1)

The initialization code for Arduplane has the comment   /* default stream rates to 1Hz */ and rates such as RAW_SENS etc are set to 1.  The corresponding code in Arducopter does not have this comment, and the default values are zero.

This causes a problem with minimOSD, which in the latest version does not send a REQUEST_DATA_STREAM.  Additionally, ma

[2016-04-11 07:00] magicrub commented on #3884
Latest stable does not work on APM 2.6.
On Apr 10, 2016 11:41 PM, "pwbecker" <notifications@github.com> wrote:

[2016-04-11 08:11] pwbecker commented on #3884
I meant latest stable that is APM2 compatible - its automatically selected based on the board connected at time of download.

[2016-04-11 09:39] geofrancis commented on #3875
a cosine function mix would also help with acro mode, it would allow the pilot to do level rolls with the auto pilot maintaining pitch using a combination of rudder and elevator.

[2016-04-11 09:55] geofrancis commented on #3883
i currently run a modified opentx firmware on my 9xr pro with openlrs for rc and telemetry. my handset can display error messages from the flight controller thats why i would like it as a message from flight controller rather than a function of the ground station.

[2016-04-11 13:53] R-Lefebvre commented on #3882
Yep, all good ideas.  Just need the time and money to do it. :)

[2016-04-11 13:58] R-Lefebvre commented on #3883
Excessive low-freq vibrations, at least on a helicopter, can lead to basic flight control problems.  I think the issue is that the output from the PID's ends up saturating the servo outputs.  The output just becomes "mud" and the position the servos end up finding is something other than what is needed for stable flight.

I believe the same is true for large multirotors with limited control bandwi

[2016-04-11 14:33] rrr6399 commented on #3881
Here is how the yaw, pitch, roll and altitude history looks for the same copter during a successful guided takeoff:
![altitude-history-successful-guided-takeoff](https://cloud.githubusercontent.com/assets/2707426/14430728/5b741912-ffc8-11e5-85d2-1366efab26c0.png)
![roll-pitch-history-successful-guided-takeoff](https://cloud.githubusercontent.com/assets/2707426/14430734/5ffa9d8a-ffc8-11e5-92c5-3a04

[2016-04-11 15:22] magicrub commented on #3884
APM 2.6 was phased out at different times for the different platforms.
Being specific would be appreciated, however, it probably won't help
because APM has been depreciated and no longer supported.
On Apr 11, 2016 1:11 AM, "pwbecker" <notifications@github.com> wrote:

[2016-04-11 16:46] pwbecker commented on #3884
V3.2.1. I updated the first post accordingly.

[2016-04-11 19:28] havarjoh commented on #3881
funny thing - same happens to me and this other guy, only it happens every time - and in gazebo: http://discuss.ardupilot.org/t/gazebo-sitl-drone-cant-controlled/8051
No resolution though.

[2016-04-11 23:59] marcmerlin commented on #3812
@geofrancis thanks for those pointers. Now, should TRIM_THROTTLE only be relevant if I'm trying to maintain altitude?
If I'm in RTL and I need to travel to a point, while losing altitude, should it still apply? (I think not)
I have: TRIM_THROTTLE   40.000000

I could try setting that to 0, but is that the right/safe thing to do, just so that RTL can go down with throttle off? If so, I'll give it a

[2016-04-12 00:35] Kelly-Foster commented on #819
+1 for mute ability.  Similar to others, would prefer to develop at home without disturbing others.

Kelly

[2016-04-12 00:40] davidbuzz commented on #819
the standard methodology used here is to apply a small removable hardware "patch" to the buzzer....more specifically a bit of sticky tape over the noise maker. :-)

[2016-04-12 00:58] WickedShell commented on #3545
Was fixed in #3752

[2016-04-12 00:58] #3545 closed

[2016-04-12 03:01] 19504643 opened #3891 "AP_Param: _num_vars is zero in constructor and Load the default values of variables failed"
Hi,excuse me.
I compiled ArduCopter3.2.1 using Keil MDK,commit is 03373d3,and all went well except the parameters,
I found it in the constructor
[    AP_Param(const struct Info *info)
    {
        _var_info = info;
        uint16_t i;
        for (i=0; pgm_read_byte(&info[i].type) != AP_PARAM_NONE; i++) ;
        _num_vars = i;
    }](https://github.com/ArduPilot/ardupilot/blob/ArduCopter-3.2.1/l

[2016-04-12 13:18] naktinis opened #3893 "Plane: RPM over serial port"
On our fixed-wing aircraft we are using UAV Factory's [Generator Power Unit](http://www.uavfactory.com/product/9) which provides RPM among other variables (load current, battery voltage etc.) as serial data.

It would be great if we could connect this serial port directly to the autopilot and ArduPlane would update internal RPM value from these messages.

Would this functionality be useful for oth

[2016-04-12 14:02] R-Lefebvre commented on #3893
I definitely think that something like this would be very useful. I had started an I2C protocol for getting data from an engine management system a year ago, but it died on the vine.

You could add a serial interface for that specific system.  However, I would prefer if somebody made a generic engine management interface operating over UAVCan.  It would require an adaptor between the Ardupilot avi

[2016-04-12 15:40] AndKe opened #3894 "Tools: install-prereqs-ubuntu.sh script fails , needs updating"
Tested on fresh install of Ubuntu 16.04
First : python-wxgtk2.8  is no longer available,  python-wxgtk3.0  should be  used.
Then the script command "sudo pip2 -q install $PYTHON_PKGS"   fail with :
"Command "python setup.py egg_info" failed with error code 1 in /tmp/pip-build-o9DnpF/pymavlink/"

if the script got past that, next issues are:
Add /opt/gcc-arm-none-eabi-4_9-2015q3/bin to your PATH [Y

[2016-04-12 15:55] Jman841 opened #3895 "Feature Request, Rallypoint Pass through to Home"
Currently from my understanding if I set a rallypoint with Arduplane the plane will hit RTL then go to this point and loiter there until I give it another command. I would like the desired action for the plane to go first to the nearest rallypoint then continue to Home. This is desired just in case for some reason I do not have telemetry link at the desired rallypoint. or for some reason I need to

[2016-04-12 15:59] rrr6399 commented on #3881
havarjoh, did you notice the copter yawing hard on takeoff similar to the attached plots?

[2016-04-12 17:27] iskess commented on #3895
This would also help when flying alongside a tall mountain ridge. An RTL to home could cause the plane to turn into the cliff wall. Rally Points could be used to assure that with a radio failsafe at any point, the closest heading to is always away from the cliff.
This request would allow the plane to then return home after the rally.
Actually this is still just a work around. A better solution to

[2016-04-12 17:54] iskess commented on #3895
Maybe we just need to incorporate DO_LAND_START to work with a Rally point so the plane will head to the approach sequence which is at home.

[2016-04-12 18:20] Jman841 commented on #3895
I don't want it to start the landing sequence right away. I always set RTL before beginning the landing to ensure everyone is ready and the runway is clear. Simply for it to use the rally point as a pass through in case there is an obstacle where a direct line back to RTL is not a good option, then head to RTL. The only thing I would like to see is the set altitude for the rally point to be mainta

[2016-04-13 05:09] matheweis commented on #838
Just came across this thread while discussing ArduCopter's capabilities in terms of handling rotor failures in hex mode with another user. Just in case this will be of any help, here is a flight log that experienced catastrophic failure of motor #5 (front right) while running stock 3.2.1: http://eisbox.net/tmp/15-08-17_19-13-20.bin Sorry about the age, I knew the failure wasn't due to ArduCopter s

[2016-04-13 18:00] magicrub commented on #3893
I agree that going CAN is the way to go but that is not an option for this particular hardware. Yes @naktinis the correct implementation is to add a new SERIALx_PROTOCOL. Pull requests welcome!

[2016-04-13 18:04] magicrub commented on #3894
Is this a Python 2.x to 3.x change? That sounds like a significant change.

[2016-04-13 18:21] AndKe commented on #3894
no, nothing that drastic,  the default python is still 2.7.11  - just some upgraded libraries.

[2016-04-13 23:59] magicrub commented on #3875
The analysis certainly seems reasonable. Great work @marcmerlin

[2016-04-14 00:05] marcmerlin commented on #3875
@magicrub thanks for looking this over along with the other folks. Note that @tridge did the hard work of the initial review, but he guessed that my ailerons stopped working at high speed (a problem with foam apparently), while looking at the video again and visualizing the very weird reverse spin it was doing, I came to realize that the elevator introduced a huge angle of attack and stalled the w

[2016-04-14 06:14] WickedShell commented on #3879
This is in master

[2016-04-14 06:14] #3879 closed

[2016-04-14 21:30] Jman841 commented on #2669
Any update on this? Or on the Stall detection piece? I had a very strange crash today due to a stall caused by a high bank angle and low airspeed in a turn in Auto mode. The plane was commanded to take off to 100 meters, then switch to RTL which is at 150 meters. Once it reached 100 meters it went into a 45 degree climb (Although the limitation is set to 25 degree's) then leveled off into a sharp

[2016-04-14 21:40] Jman841 commented on #2933
I just had a tip stall if the logs can help at all I can post them.

[2016-04-14 21:51] magicrub commented on #2933
yes please, post a link here. When I/someone gets around to working on it then we'll have some data to crunch

[2016-04-14 22:06] magicrub commented on #2669
if you did have manual control available, what would you have done?

[2016-04-14 23:17] marcmerlin commented on #2669
not my plane, but I would have neutralized the elevator, turned the ailerons opposite of stall, which may not work in a spin, but that mixes in rudder too, which does work, and then regain altitude once the spin has stopped.
Although to be honest, all my RC planes stop spinning once I stop pulling the elevator to go up (which likely is what AP was trying to do).

[2016-04-14 23:37] Jman841 commented on #2669
neutralized the servos and give it full throttle then apply elevator to pull up. It stalled at 150 meters so if the radio would of turned on faster or if I didnt turn off the radio in the first place I would have had enough time to recover. I believe.

[2016-04-15 01:49] Jman841 commented on #2669
Here's the Logs:

https://www.dropbox.com/s/tzsmfcwcf3zvdy9/7%204-14-2016%2010-31-28%20AM.bin?dl=0
https://www.dropbox.com/s/w8seipoxwee3eel/2016-04-14%2010-13-56.tlog?dl=0

[2016-04-15 01:50] Jman841 commented on #2933
Here's the Logs:

https://www.dropbox.com/s/tzsmfcwcf3zvdy9/7%204-14-2016%2010-31-28%20AM.bin?dl=0
https://www.dropbox.com/s/w8seipoxwee3eel/2016-04-14%2010-13-56.tlog?dl=0

[2016-04-15 05:43] iskess commented on #2669
@Jman841, I'm curious to know why you switched off your radio just after takeoff. I'm not being judgmental, I'm just wanting to know why one might do that.

[2016-04-15 06:39] R5fan commented on #2669
@magicrub
For full scale airplanes, spin recovery procedures can vary, but they all share one thing: forward elevator. Usually this is combined with rudder opposing the spin direction and followed up by adding throttle. As marc merlin pointed out however, RC planes tend to recover easily from a spin, most (especially FPV models) will recover just with neutral sticks, some more aerobatic models may

[2016-04-15 07:22] DavidDavidov commented on #2669
Just to add from my experience with the flying wings, FX-61 in
particular. We found that when they enter in flat spin are very
reluctant to recover. Until you put them upside down pushing forward the
elevator stick. That immediately recovers the plane.

dave

On 15-04-16 09:39, R5fan wrote:

[2016-04-15 07:40] WickedShell commented on #2669
I had a very long hash out of this with someone on a different issue but
for spins on full scale airplanes adding throttle in a spin can be really
bad until after the spin has exited, as it has a tendency to tighten the
spin, which is of course bad. Except for some very specific aircraft where
it's called out specifically the general advice for spins is to not add
throttle.

On Fri, Apr 15, 2016 a

[2016-04-15 12:15] Jman841 commented on #2669
@iskess, After the aircraft reaches a safe altitude with this plane we always turn off the radio to avoid mistakes of the user hitting the flight mode switch or any other inputs from the Tx. Plus, most of the missions are beyond the range of the Tx and there is no use for it other than a stall recovery that happens within LOS. This was the first time we've had a stall in an Automatic mode after li

[2016-04-15 12:44] AndKe opened #3903 "Req: CAMERA_FEEDBACK should contain shutter count"
Shutter feedback should be counted and a part of this message.
This way operator could easily see not only how many times camera was expected to shoot (img_idx) , but also how many time the shutter actually operated.

![screenshot from 2016-04-15 14-42-46](https://cloud.githubusercontent.com/assets/1468842/14561677/5f10e642-0318-11e6-90bd-4e618021bac5.png)

[2016-04-15 18:04] magicrub commented on #2669
@Jman841 please post a log to the forums and someone will take a look

On Fri, Apr 15, 2016 at 5:16 AM, Jman841 <notifications@github.com> wrote:

[2016-04-15 19:02] lucasdemarchi commented on #3894
@AndKe and you don't have grep in Ubuntu 16.04 even after installing build-essentials? Or is it because the apt-get call failed and then things weren't installed... ?

[2016-04-15 19:03] OXINARF opened #3908 "Waf: add GIT_VERSION define"
The make build system always defines GIT_VERSION but we don't have it in Waf. It needs to be added (but allowed to be defined externally).

[2016-04-15 20:36] #2906 closed

[2016-04-16 01:10] lvale commented on #3772
@marcmerlin Doc label ??

[2016-04-16 17:12] AndKe commented on #3894
@lucasdemarchi of course there is grep , it's used in many of my scripts all the time, - I assume it's something trivial with the syntax or something - that I can figure out in a spare moment..

[2016-04-16 17:33] lucasdemarchi commented on #3894
./install-prereqs-ubuntu.sh: line 85: grep: command not found

[2016-04-16 18:25] px4stm32 opened #3912 "Failed to clone the repository 'ArduPilot/ardupilot'"
Hello,

I try to open https://github.com/ArduPilot/ardupilot with GitHub in Windows 7, but it doesn't work.
I use this outdated tutorial: http://ardupilot.org/dev/docs/where-to-get-the-code.html

When I click on the Button "...use it in GitHub Desktop", GitHub opens but I'm not able to clone it.
The error log shows this:

`2016-04-16 20:20:03.1792|INFO|thread:16|DashboardViewModel|Took 2ms to Crea

[2016-04-16 19:14] OXINARF commented on #3912
That seems like an issue with the GitHub for Windows client, not an issue with our repo. Have you tried to reinstall the client?

[2016-04-16 20:08] magicrub opened #3913 "Copter: BATT_WATT_MAX should not be available"
#### Issue details

BATT_WATT_MAX is intended for plane only, should be removed from copter and maybe rover.

#### Platform
- [x] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

[2016-04-16 20:39] AndKe commented on #3894
@lucasdemarchi - yes, I do still see it, - let's forget the trivial stuff, (if that's a problem om more than one test computer, I'll fix it)
Now, if we can focus on a solution for the library-issue.  :)

[2016-04-16 20:58] lucasdemarchi commented on #3894
The thing is that I think the apt-get failed and then things that are needed weren't installed.

[2016-04-16 21:12] px4stm32 commented on #3912
I reinstalled Windows 7 now and the clone failed again:

2016-04-16 23:08:59.1249|INFO|thread:32|AsyncReaderWriterLock|Released concurrent scheduler for operation: 15 at RepositoryViewModel.cs:318 after blocking 0.0215339s
2016-04-16 23:04:38.3572|INFO|thread: 1|GitHubEnvironment|ACTIVATION DATA RAW
2016-04-16 23:04:38.3884|INFO|thread: 1|GitHubEnvironment|[base64:LXU9Z2l0aHViLXdpbmRvd3M6Ly9vcGVuU

[2016-04-16 21:13] AndKe commented on #3894
sure it failed :)   - because python-wxgtk2.8 is not in 16.04 ...  :)   so  - what can we do about that ?

[2016-04-16 21:26] lucasdemarchi commented on #3894
Probably the same we did in CI scripts to differentiate 14.04 and 12.04: we parse the distro name from /etc/os-release and install the different SW based on that. If mavproxy (the one that actually use python-wxgtk) works with both versions, then we are done. Otherwise we would need some patches there, too.

[2016-04-16 21:27] lucasdemarchi commented on #3894
I can take a look into this on Monday if nobody implements it before.

[2016-04-16 21:45] OXINARF commented on #3912
Looking at the log the issue is that at one point the connection the Github failed so it didn't complete the cloning.
Anyway, this isn't an issue with Ardupilot so I'll have to close it now. If you still have issues you should contact Github or open a post at discuss.ardupilot.org

[2016-04-16 21:45] #3912 closed

[2016-04-17 01:26] squilter commented on #2828
`px4-v2-upload-solo` exists now.

[2016-04-17 01:29] squilter commented on #2828
Oops, I see now that we want a command that will change some `#define`s and then compile. I guess that would be called `px4-v2-solo-upload`, not `px4-v2-upload-solo`

[2016-04-17 08:30] AndKe commented on #3894
do we know all parts that need python-wxgtk2.8 , and whatever they do work with 3.0 ? (I am familiar with python dependencies & backwards compatibility)

[2016-04-17 15:09] kosmikkosmik opened #3915 "Arducopter flips on manual landing in position hold"
#### Issue details

When doing manual landing in Position Hold after touching the ground sometimes two motors start to spin at higher speed and copter rolls over. This doesn't happen when landing in RTL mode.
For some time I managed to workaround it by quickly switching to Stabilize mode after copter touching the ground, but this time it flipped very quickly so when I selected Stabilize it was too

[2016-04-17 16:44] AndKe commented on #3894
I can confirm that mavproxy (and --console) works fine with python-wxgtk3.0
- will make a PR with the fix tomorrow.

[2016-04-17 17:39] AndKe commented on #3894
here: https://github.com/ArduPilot/ardupilot/pull/3917

[2016-04-17 19:53] squilter commented on #3697
Can confirm that it works on master.

[2016-04-17 21:43] Elios007 opened #3918 "Plane: Parachute should turn off the motor only and not disarm the AP"
#### Issue details
it has been 2 years we land only using parachutes in our fixed wings plane, we were and still using the manual parachute trigger. We were happy that this trigger is via Pixhawk lately but we found due to our 100 flights and parachute landing that the Pixhawk should not disarm the AP but only turn off the motor. Because today we have triggered the parachute, the door has opened b

[2016-04-17 21:47] Elios007 opened #3919 "Plane: wp_negative is giving radius 30 meter regardless the input number."
#### Issue details
we were doing loiter today but we found that when wp_loiter_rad is positive radius is correct but when negative for a counter clockwise loiter, the radius is very small (30m) regardless the input number. We tried even -5000.

#### Version
3.5.2

#### Platform
- [ ] Plane

#### Airframe type
Fixed wings plane

#### Hardware type
Pixhawk

#### Logs
https://www.dropbox.com/sh/hkt7z

[2016-04-17 22:22] rmackay9 commented on #3697
@squilter, great, thanks for confirming that.

[2016-04-17 23:18] squilter commented on #3697
Wait... I was confirming that this issue should remain closed - not that it should be reopened.

[2016-04-17 23:40] rmackay9 commented on #3697
Ok, but it doesn't work on Copter-3.3.. which is the version the issue is raised for.

[2016-04-17 23:48] magicrub commented on #3919
I believe this was fixed by Michael dB just after the v3.5.2 release, will
check and follow up.
On Apr 17, 2016 2:47 PM, "Elios" <notifications@github.com> wrote:

Issue details

we were doing loiter today but we found that when wp_loiter_rad is positive
radius is correct but when negative for a counter clockwise loiter, the
radius is very small (30m) regardless the input number. We tried even -50

[2016-04-17 23:49] magicrub commented on #3918
I think this is a duplicate.
On Apr 17, 2016 2:43 PM, "Elios" <notifications@github.com> wrote:

[2016-04-18 00:14] WickedShell commented on #3919
Tridge found and fixed it with 62574b35b52ce65a. Was a misplaced paren pair on the abs() in navigation.cpp relates to the loiter changes from late Feb.

[2016-04-18 00:14] #3919 closed

[2016-04-18 01:51] rmackay9 opened #3920 "Copter: Throw mode should (optionally) switch to AUTO after completion"
#### Issue details
dogintwater user requested throw mode switch to AUTO after it completes.  We should perhaps add a THROW_NEXT_MODE (or similarly named) parameter to allow the user to specify what mode it should switch to after the throw is complete.  Valid modes would certainly include Guided and Auto.  Other modes are questionable including Loiter, Stabilize, etc because the user would need to

[2016-04-18 02:24] WickedShell opened #3921 "Setting guided points are always reported as accepted even if the result was rejected"
#### Issue details
https://github.com/ArduPilot/ardupilot/blob/master/libraries/GCS_MAVLink/GCS_Common.cpp#L644 will always be reported as accepted, even if it was rejected due to the current mode (or other problems).

#### Version
Master

#### Platform
- [x] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

[2016-04-18 06:05] Elios007 commented on #3918
HI,

What do you mean it is duplicate?
if you mean my previous issue about the pre-check, it is not, as it was about the pre-check only. But if someone else has talked about it, would you please post the link issue here, as I tried to find it but I didn't.

Thanks for your help and time.

[2016-04-18 06:38] tridge commented on #3918
It looks like you are asking for the current behaviour. The parachute code in APM:Plane only disables the motor in auto-throttle modes (such as AUTO). In manual throttle modes (such as FBWA) the motor remains active.
This was done for two reasons:

- so that if the parachute open fails the pilot has a chance to recover by switching to a manual throttle mode
- so that the pilot can use a manual thr

[2016-04-18 06:38] #3918 closed

[2016-04-18 06:44] Elios007 commented on #3918
Thanks for the clarification.

[2016-04-18 12:29] goodwin commented on #1825
Any news on that?

[2016-04-18 14:13] OXINARF commented on #1825
http://discuss.ardupilot.org/t/oneshot-support-is-in-master/8465

There's still an issue with OneShot125, you can find more info in the last pages of http://diydrones.com/forum/topics/pixracer-with-ardupilot

[2016-04-18 17:20] rpadovani commented on #3553
I have the same problem with _ g++ 5.3.1_

There is anything I can do without having to change each file to `sdt::isnan()` ? (or `using std::isnan()`)?

[2016-04-18 17:25] OXINARF commented on #3553
See #3878. We are deprecating the use of make build system for Linux, you should start using waf.

[2016-04-18 18:04] lucasdemarchi commented on #3553
And
http://discuss.ardupilot.org/t/waf-to-become-default-build-system-for-linux/8451/8

On Mon, Apr 18, 2016 at 2:25 PM, Francisco Ferreira <
notifications@github.com> wrote:

--
Lucas De Marchi

[2016-04-18 18:14] alexchernoff opened #3924 ""Point Camera here" issues with servo-based gimbal on Plane 3.5 and Mission Planner"
#### Issue details

Dear all,

I have a servo based gimbal on a fixed wing. Set up the angles and servo values as per the "Camer gimbal with servos" docs and I can control camera pan/tilt from the RC.

When I use Mission Planner to "Point camera here", it rotates towards the "target", and that's it. It doesn't adjust the camera position, there is no more manual control, trying to "point camera" to

[2016-04-18 21:05] marcmerlin opened #3925 "RFE: Plane V Tail code could be used for all aircraft with a real rudder and elevator (vtail or straight configuration) and mix based on plane roll angle"
To be clear, this should exclude flying wings which are a different animal as they do not have a real rudder to start with.

For  regular planes and Vtail planes, autopilot rudder and elevator output should be mixed into the elevator and rudder channels depending on whether it's Vtail (add a 45 degree offset) and according to the plane roll angle.
What I mean here is that if a plane with a straigh

[2016-04-18 22:36] WickedShell commented on #3327
Closing as master does create complete logs successfully, and no further reproduction information has been provided (Or communication either way).

[2016-04-18 22:36] #3327 closed

[2016-04-18 22:39] WickedShell commented on #3149
ALT_MIX is a dead parameter, to use GPS altitude set EK2_ALT_SOURCE to 2 (see http://ardupilot.org/plane/docs/parameters.html#ek2-alt-source-primary-height-source )

[2016-04-18 22:39] #3149 closed

[2016-04-18 23:39] jpkh commented on #3893
There are people asking similar feature but with PWM signaling. Maybe a Serial input would be best and then we can have multiple motor input coming from external board like IOBoard or Teensy based boards.

Hobbywing have now ESCs that provides RPM output and I bet more will come...

http://discuss.ardupilot.org/t/how-to-read-rpm-signal-from-esc/8326/7

[2016-04-18 23:42] jpkh commented on #3807
@sgh055 naturally from here on [Ardupilot](https://github.com/ArduPilot/ardupilot) repository

[2016-04-18 23:42] #3807 closed

[2016-04-19 07:24] magicrub commented on #3853
Thanks @naktinis . I think this has gone unseen because ALT_OFFSET is so rarely used. In fact, I'm in favor or removing it in favor of the more global GND_ALT_OFFSET

[2016-04-19 07:52] salonijain12 commented on #2384
@rmackay9 , Initially I have disabled the fence and was flying in GUIDED mode. After reaching the desired point (given by "Fly To" command in SITL), I changed the mode to ALT_HOLD. After this, I noticed that my copter start descending and ALT_HOLD is not working as expected. Same is in case of mode LOITER.

I have gone through  http://ardupilot.org/copter/docs/altholdmode.html  (common problem #2)

[2016-04-19 07:53] salonijain12 commented on #2384
@rmackay9 , Initially I have disabled the fence and was flying in GUIDED mode. After reaching the desired point (given by "Fly To" command in SITL), I changed the mode to ALT_HOLD. After this, I noticed that my copter start descending and ALT_HOLD is not working as expected. Same is in case of mode LOITER.

I have gone through http://ardupilot.org/copter/docs/altholdmode.html (common problem no. 2

[2016-04-19 08:31] salonijain12 commented on #2384
I am able to solve this using following steps:

In **STABILIZE** mode:

- arm throttle
- rc 3 1500

Then switch mode to **GUIDED**

- Perform Fly To operation
- Change mode to ALT_HOLD

After this the copter is not crashing and the desired Altitude is maintained.

Please suggest if these steps and behavior is as expected.

-

[2016-04-19 09:07] lvale opened #3929 "Common: Implement Follow-me by Mavlink msg"
Now that the accorded Mavlink message has gone into Mavlink, we should think on implementation on Copter/Plane/Rover

https://github.com/mavlink/mavlink/pull/526/files

[2016-04-19 23:23] geofrancis opened #3934 "Copter: Using Dual GPS on pixhawk as compass"
i have been combing through the new dji a3 controller specs and seen that for the rtk gps they are using dual antennas as a redundant compass by using the different positions of each gps antenna to calculate what direction the vehicle is pointing.

now that got me thinking about my pixhawk, it already has dual m8n gps units that are pretty accurate Its no rtk but i would think the accuracy of your

[2016-04-19 23:48] geofrancis commented on #3812
i would lower it a little first rather than jump to 0

[2016-04-20 00:25] magicrub commented on #3913
pending PR https://github.com/ArduPilot/ardupilot/pull/3935

[2016-04-20 00:26] arashn opened #3936 "sim_vehicle.sh rebuilds library on reboot"
sim_vehicle.sh rebuilds the library every time the system is rebooted. This happens because the compiled files are stored in the /tmp directory, which is cleared upon a reboot.

This happens on a machine running Fedora 23.

[2016-04-20 02:39] lvale opened #3939 "TradHeli: Throw mode"
I was testing master for TradHeli and noticed that Throw mode appears for TradHeli. Might not be such a good idea to have this mode available for TradHeli.

[2016-04-20 03:20] falconunmanned opened #3940 "change Default BRD_SERX_RTSCTS to 0"
#### Issue details
We run the pixhawk comm through modems using only the TX/RX/GND pins.  We used to see that about 1 out of 10 boots of the autopilot the Commport did not boot properly (witnessed as no data over a serial terminal program).  After being pointed at the BRD_SERX_RTSCTS param we change ours from what was the default of 2 to 0.  I completed 50 reboots using this "0" setting and did no

[2016-04-20 03:27] #3660 closed

[2016-04-20 04:21] magicrub commented on #3940
This flow-control bug was reported here (https://github.com/ArduPilot/ardupilot/issues/2532) and fixed here (https://github.com/ArduPilot/ardupilot/pull/2556) so it was fixed after Copter 3.2 and Plane v3.2.2 releases so I'm closing this. @falconunmanned please update to Plane v3.5.2 and use BRD_SERx_RTSCTS=2 and reopen if you're still having problems.

[2016-04-20 04:21] #3940 closed

[2016-04-20 08:40] rmackay9 commented on #3939
I don't think it'll actually work for TradHeli.  So you may be able to select it from the list of available flight modes but it won't be possible to actually use it.
We don't allow the parameter descriptions to be different between tradheli and multicopters which is why it appears in the drop-down list of flight modes.

[2016-04-20 08:40] #3939 closed

[2016-04-20 10:16] salonijain12 commented on #2384
@rmackay9 Thanks for the clarification of doubt.

Does stopping of guided mode controllers below the fence can be considered as if the copter has reached the destination waypoint just below the fence. That is considering the fence boundary as new destination waypoint and stopping it whenever it breaches the fence and if the copter eventually flies 100m outside the configured fence distance, switch

[2016-04-20 12:52] guludo commented on #3936
@arashn We'll soon rewrite sim_vehicle to a python version and use Waf for building. That problem should be solved by then.

[2016-04-20 23:54] lvale opened #3941 "Copter: Ground Effect Compensation as a user parameter"
#### Reduce Problems with Ground Effect on Copter
Currently only self built to disable the comment on https://github.com/ArduPilot/ardupilot/blob/92106a944ff9646e2cb8990dd9b89a975a974c36/ArduCopter/APM_Config.h#L42

//#define GNDEFFECT_COMPENSATION ENABLED

allows to use this.

Suggestion to have this exposed as a user parameter

#### Version
3.4dev

#### Platform
- [ ] All
- [ ] AntennaTracker
-

[2016-04-21 05:31] #3891 closed

[2016-04-21 08:22] rpadovani opened #3946 "No --home flag for arducopter-quad, impossible to start"
#### Issue details
I build the arducopter with `waf`, but now I'm not able to start it.

Each time I try to start it I have this error:

`sudo ./build/linux/bin/arducopter-quad

Init APM:Copter V3.4-dev

Free RAM: 262144
FW Ver: 120
----------------------------------------

load_all took 3us
ToneAlarm: Error!! please check if PWM overlays are loaded correctlyAP_Notify: Failed to initialise ToneAla

[2016-04-21 11:36] havarjoh commented on #3881
jup, but looking at the plots I have more extreme values. I almost got it working (no yawing) sending a "level" mavros command before "arm throttle" and "takeoff 2". Only it didn't stop on 2 meters, just kept on rising until it went crazy again (heavy yawing). Think I'll give px4 stack a try, documentation seems better on Gazebo stuff (though not so on other items).

[2016-04-21 20:34] guludo commented on #3946
By your description, you want to use sitl. In that case you should
configure for sitl unread of linux:

[code]

Btw, this matter should be discussed on http://discuss.ardupilot.org :)

On Thu, Apr 21, 2016, 05:22 Riccardo Padovani <notifications@github.com>
wrote:

[2016-04-21 20:35] guludo commented on #3946
s/unread/instead/

I'm using my phone hehe

[2016-04-21 21:02] magicrub commented on #3913
fixed via https://github.com/ArduPilot/ardupilot/commit/0e775f595db71152a55b42b2a81c5f3563bce49c

[2016-04-21 21:02] #3913 closed

[2016-04-22 09:30] nitirohilla commented on #3921
@WickedShell  As per my understanding, guided points should be rejected when:

1. Current mode is not GUIDED mode, for all vehicles.
2. In case of Copter, when cmd.id is not equal to "MAV_CMD_NAV_WAYPOINT" or "MAV_CMD_CONDITION_YAW".

Can you please help me understand the other problems in which guided points should be rejected.

[2016-04-22 09:33] WickedShell commented on #3921
Right, at the moment we report that we accepted the point even if the
vehicle rejects. IE internally we rejected the guided point (we weren't in
GUIDED, or something else was wrong with it), but we told the GCS that we
accepted it. This isn't a functional change for the autopilot side, its
just to enable better feedback on ground stations.

On Fri, Apr 22, 2016 at 2:30 AM, nitirohilla <notificatio

[2016-04-22 11:32] naktinis commented on #3852
Should be fixed by df922dacfa.

[2016-04-22 11:32] #3852 closed

[2016-04-22 23:53] WickedShell opened #3950 "RTL on failsafe untill critical event then land"
#### Issue details
On a long failsafe event (say GCS failsafe) the aircraft should RTL, and loiter at the RTL point until a critical event (such as low battery failsafe) at which point it should transition to a planned landing if one exists in the mission.

The use case is that with current master immediately transitioning to land logic on RTL is poor as the landing area may not be cleared, or you

[2016-04-23 00:21] WickedShell opened #3951 "make should throw an error if the binary size is to large"
#### Issue details
It's an edge case, but if you build a firmware that is to large to be uploaded to the board then make should throw an error and refuse to flash the binary (unless overridden with a flag). At the moment if you just do make px4-v2-upload it never prints the binary sizes at the end, making it easy to upload to large a binary.

#### Platform
- [X] All
- [ ] AntennaTracker
- [ ] Copt

[2016-04-23 00:28] rmackay9 commented on #3950
There's a similar issue somewhere related to a two-stage failsafe.  I generally agree there's no need to immediately RTL in some cases although for Copter, currently the GCS failsafe is really a duplicate of the RC failsafe.

[2016-04-23 00:37] WickedShell commented on #3950
Ah I had missed that one for copter regarding batteries. What I'm specifically looking for here is the RTL behavior (after the current set of events trigger it) that has a landing option at any point due to battery or time elapsed at the RTL point, but that doesn't immediately phase on to the landing until one of those conditions are met.

I guess this is actually very similar issues, I just hadn'

[2016-04-23 09:43] rpadovani commented on #3946
Right, thanks, I feel a bit stupid right now!

[2016-04-23 09:43] #3946 closed

[2016-04-25 16:34] jainakshay91 commented on #2790
Yes let's have the GUIDED-NoGPS mode. It makes complete sense with so many people working on indoor drone navigation.
At this point in time, to have such a functionality, is the best bet going to be to modify the ArduCopter base code?

[2016-04-25 21:04] R-Lefebvre commented on #3950
This is a great idea for cases of RTL due to lost-comms.  It makes sense to loiter as long as possible before landing.

However, wouldn't this sort of accomplished with the RTL_LOIT_TIME paramter?  If it was set really long, would it hover until the actual battery FS went off?  Or would the battery failsafe also get stuck in Loiter and crash?

[2016-04-25 22:36] WickedShell commented on #3950
I can't speak to copter but not on plane. Plane doesn't have a loiter timer, and the battery failsafe will only trigger a long failsafe, not any other special action.

[2016-04-25 23:17] lvale commented on #3950
linked to this https://github.com/ArduPilot/ardupilot/issues/3772

[2016-04-26 00:58] WickedShell opened #3982 "AP_Mission: should ask a vehicle if it can handle a waypoint before accepting it"
#### Issue details
AP_Mission accepts all way points it understands, regardless if the vehicle can actually handle the command, which can lead to surprising behavior, mission needs a callback to the vehicle to validate that the vehicle understands the way point.

#### Platform
- [x] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

[2016-04-26 02:41] rmackay9 commented on #3950
RTL_LOIT_TIME controls the amount of time that the vehicle hovers over home before descending.  It's a little used parameter that we could consider removing in place of a hard-coded time (like 3 seconds).

[2016-04-26 03:15] allanm84 commented on #2790
@rmackay9 is there a specific reason to use SET_ATTITUDE_TARGET to set an angle instead of setting acceleration in one of the
SET_POSITION_TARGET commands?  Could APM support an acceleration command?

[2016-04-26 04:26] rmackay9 commented on #2790
@allanm84, we don't currently accept the acceleration command although a person or two has asked for it.  It could be added, it's just a day or two of work for someone (including testing).
Both acceleration and angle requests should be accepted because they're, of course, not exactly the same.  In particular the acceleration request would be handled as "stabilized" acceleration request meaning tha

[2016-04-26 11:10] marcmerlin commented on #3925
@magicrub  do know the plane code and could you validate whether this is a reasonable idea to implement?

[2016-04-26 13:01] R-Lefebvre commented on #3950
Why remove it?  Seems fine to just leave it in there?

[2016-04-26 15:39] magicrub commented on #3925
I think in theory it sounds reasonably but the devil is in the details on implementing it within the controller.

[2016-04-26 16:16] lvale commented on #3950
+1 with @R-Lefebvre
When a drone comes to land, it's useful to have it loitering for some time to check if the landing area is clear of potential issues

[2016-04-26 17:36] SamChenzx opened #3990 "Fatal error on the ADSP"
#### Issue details
I use the latest ArduPilot master branch, try to build flight control stack on Snapdragon Flight.
Develop environment is Unbuntu 15.10 with Hexagon_SDK 2.0, HexagonFCAddon, and HEXAGON_Tools 7.2.10( this toolchain is according to the PX4 dev guide, maybe a little different with HEXAGON_Tools 7.2.11). I tried to modify some definition in board_qflight.mk to successful compile, an

[2016-04-26 19:19] ErikGroeneveld commented on #3950
+1, on RTL due to power you would like to bring it down as fast as
possible, and hovering for 3 seconds may make it fall out of the sky..

Best,

Erik

Op dinsdag 26 april 2016 heeft Luis Vale Gonçalves <notifications@github.com>
het volgende geschreven:

[2016-04-26 20:05] allanm84 commented on #2790
@rmackay9 thanks for the explanation.  RE GUIDED-NOGPS, could instead of adding a new mode we just allow GUIDED to operate with no GPS, but restrict which commands would be accepted?  For instance, when there is no GPS: reject SET_POSITION_TARGET commands but accept SET_ATTITUDE_TARGET.

[2016-04-26 20:15] lvale commented on #3950
@ErikGroeneveld If the copter waits for 3s, at the default LAND_SPEED is a difference of 1.5m in height....If the drone has to fall from 15m (Default RTL Height) the difference is irrelevant IMHO.

[2016-04-26 21:39] ErikGroeneveld commented on #3950
Hi Luis,

LAND_SPEED is only becoming active below 10m,

So if my RTL night is set at 20m, then for the first 10m wpnav_speed_dn is
used (by my understanding) and this is set at 300cm/s.

So without the delay at the RTL hight I am 9 meters lower in 3 seconds...

And like I said when you are in a failsave situation due to power, flying
back to your RTL location and bringing it down any second may m

[2016-04-26 22:52] lvale commented on #3950
@ErikGroeneveld  If someone is flying where a 3 seconds delay (or other delay configurable like it is) would cause a brownout then perhaps using RTL might not be a good choice to save the drone. In the end we both have the same opinion of leaving it configurable:)

[2016-04-27 02:20] marcmerlin commented on #3925
Thanks @magicrub . For my own understanding, do you know who else works on the plane code besides @tridge ?
I realize this is a bigger fix than the last bug I found, but at the same time I'll now feel uncomfortable flying AP manually knowing that I can't trust it to recover from upset conditions.

[2016-04-27 02:35] magicrub commented on #3925
@WickedShell is another plane power user developer. Sorry that you've lost trust in arduplane. Seems like a corner case to me, switching to auto/RTL when inverted. Perhaps that's an easier short term solution that checks for inversion when switching to auto and does a controlled roll to recover?
Auto can fly up side down but it just needs to know about.

[2016-04-27 04:29] marcmerlin commented on #3925
@magicrub thanks confirming, I thought @WickedShell was a plane dev too, but wasn't sure.
As for losing trust, well, I know AP will fly ok if it's in control the entire time, but I do often fly manu with a switch to flick if things go wrong, and now I know I can't do this and expect things will go well, even if I have 100m altitude in the bank.
On the plus side, I rarely lose control like this, it

[2016-04-27 07:53] magicrub commented on #3925
Your aircraft should not be in the 80 to 100 degree zone, the autopilot
should limit your bank. Have you considered flying in FBW?

On Tue, Apr 26, 2016 at 9:29 PM, Marc MERLIN <notifications@github.com>
wrote:

[2016-04-27 08:07] WickedShell commented on #3925
As a reference it does bad things in the excess of 85 degrees pitch either way. (the control loops exhibit gimbal lock, even though the EKF/AHRS isn't suffering from it). This is somewhat demonstrable by watching what the HUD as you tilt the autopilot towards those pitch limits.

[2016-04-27 10:54] marcmerlin commented on #3925
@magicrub: Sure I could fly FBWA, I do for FPV flying, but for takeoff/landing, I use MANUAL. Half because I'm an RC pilot used to the normal RC way of flying, but also because for landing I have crow flaps mixed by my transmitter but that won't work through any AP controlled mode (setting flaperons + flaps at the same time, which is what I have, I don't think is possible in AP).
@WickedShell: agr

[2016-04-27 14:54] galoulebougalou commented on #3586
Hi everybody and Help !!
I tried to follow all steps but neither make sitl -j4 neither make sitl -i seem to work with me.
Checked .bashrc - checked mavgen.mk and tried to run with both of the above make comands.
Tried also git submodule init and git submodule update
Any idea ?

`make sitl -i
Checking modules
// BUILDROOT=/tmp/ArduCopter.build HAL_BOARD=HAL_BOARD_SITL HAL_BOARD_SUBTYPE=HAL_BOARD_SU

[2016-04-27 15:02] lucasdemarchi commented on #3586
You have a recent version of the toolchain which broke the build. You can build it using waf: see https://github.com/ArduPilot/ardupilot/pull/3878  - it's not integrated with sim_vehicle.sh yet, though (one of the reasons we didn't switch to it yet). Patches to do that are welcome.

[2016-04-27 18:52] pjmosquera commented on #3586
@lucasdemarchi hello Lucas. I don`t get it #3878 Which steps for dummies I must to follow on Windows. I have all recent versions recomended on http://ardupilot.org/dev/docs/sitl-native-on-windows.html#sitl-native-on-windows.  For several days my compilation terminated due to -Wfatal-errors.
Thank you

[2016-04-27 19:49] galoulebougalou commented on #3586
@pjmosquera
In mk directory you have board_native.mk file. Edit it and in line 6, replace :
 `EXTRAFLAGS += -DHAVE_CMATH_ISFINITE -DNEED_CMATH_ISFINITE_STD_NAMESPACE  `with  `EXTRAFLAGS += -DHAVE_CMATH_ISFINITE -DNEED_CMATH_ISFINITE_STD_NAMESPACE  -DHAVE_CMATH_ISINF -DNEED_CMATH_ISINF_STD_NAMESPACE -DHAVE_CMATH_ISNAN -DNEED_CMATH_ISNAN_STD_NAMESPACE`
You should be able to run
` make sitl -j4`

[2016-04-27 20:56] pjmosquera commented on #3586
OMG Unbelievable! "Firmware is in ArduCopter.elf"
Thank you very muck @galoulebougalou . This is it

[2016-04-28 02:44] sgh055 opened #3999 "Building ArduPilot for Pixhawk/PX4 on Linux with Make"
Hi, I have some problem.

I followed Building ArduPilot for Pixhawk/PX4 on Linux with Make(http://ardupilot.org/dev/docs/building-px4-for-linux-with-make.html). but When I make px4-v2, I got a error message.
How can i fix that? I installed all of them

This message.
![image](https://cloud.githubusercontent.com/assets/15629613/14873956/83505bd2-0d36-11e6-86f5-c721dec00271.png)

[2016-04-28 02:56] rrr6399 opened #4000 "Switching to Guided Mode when hovering right above ground in loiter mode reduces motor speed and doesn't respond to waypoint"
I attempted the following steps:

1.) Arm
2..) Switch from stabilize to loiter
3.) Increase throttle to hover just above ground in loiter
4.) Switch to guided mode and send a msg_set_position_target_global_int with position and speed specified
Instead of flying to the specified altitude (3 meters) specified by the msg_set_position_target_global_int, the power is reduced to idle and the copter drop

[2016-04-28 03:14] rmackay9 commented on #4000
thanks for the report.   if you have a dataflash log that would help speed the analysis.

[2016-04-28 03:20] rrr6399 commented on #4000
@rmackay9 , I'll upload one soon. Did you get my logs for this issue:
https://github.com/ArduPilot/ardupilot/issues/3881

This bug was the result of trying to come up with a process to work around the 3881 issue. I'd rather use the takeoff command in guided mode, but its too risky until we know the underlying problem with it on the S900.

[2016-04-28 03:52] rrr6399 commented on #4000
After reviewing the logs, it looks like what may be going on is that the guided target is relative to the current loiter altitude which goes negative when the thrust is increased probably to prop wash near the ground. When guided reduces the throttle, the altitude paradoxically increases by 3 meters and probably fools the system into thinking it was actually at 3 meters above ground.

![loiter-tes

[2016-04-28 03:54] rrr6399 commented on #4000
Here's one of the log files.
[48.zip](https://github.com/ArduPilot/ardupilot/files/239756/48.zip)

[2016-04-28 03:59] rrr6399 commented on #4000
I'll run a test tomorrow where I change the target altitude to 6m.

[2016-04-28 04:59] kwikius commented on #3999
It looks like arm-none-eabi-gcc which is the compiler for this board is not installed correctly. Check the bin directory the messages are telling you and see if there is a arm-none-eabi-gcc ( and other similar tools) in there

[2016-04-28 05:10] sgh055 commented on #3999
@kwikius
![20160428_130731](https://cloud.githubusercontent.com/assets/15629613/14875883/5663d7de-0d4a-11e6-99f3-3d2e9eb1a348.jpg)
I try to this command 'arm-none-eabi-gcc --version' but they say "no such file or directory"

however, there exist file.
![20160428_130853](https://cloud.githubusercontent.com/assets/15629613/14875941/fbf6ed6c-0d4a-11e6-9f6f-91e7e8be3eaa.jpg)
what is mean??

[2016-04-28 05:13] WickedShell commented on #3999
It's not being found in the search path. Check where you're $PATH points,
it needs to point into that directory for the tools to be found.

On Wed, Apr 27, 2016 at 10:10 PM, kyu <notifications@github.com> wrote:

[2016-04-28 07:48] sgh055 commented on #3999
![image](https://cloud.githubusercontent.com/assets/15629613/14878798/bd66c7dc-0d60-11e6-93e0-f49bb3c55349.png)
@WickedShell  you say this? ~/.profile

[2016-04-28 10:18] OXINARF commented on #3999
I think you need to install libc6-i386

[2016-04-28 16:26] rrr6399 commented on #4000
It appears that if the copter is not hovering stably in position using Loiter, that switching to guided mode kills the throttle.
![loiter-to-guided-dropped-to-ground](https://cloud.githubusercontent.com/assets/2707426/14893203/0a54b34c-0d34-11e6-8bdb-fbd6be9f9c2f.png)

[48.zip](https://github.com/ArduPilot/ardupilot/files/240959/48.zip)

[2016-04-28 16:27] rrr6399 commented on #4000
If I am hovering in stabilize mode and switch to guided, the copter falls out of the sky. That may be expected behavior though.

[2016-04-28 16:29] rrr6399 commented on #4000
If am Landing and switch to guided mode, it switches without incident and flys to the correct waypoint.

[2016-04-28 17:08] rrr6399 commented on #4000
Another odd behavior that I see is that when I switch from stabilize to loiter and do not change the throttle, the thrust drops, which requires me to increase the throttle to bring the copter back to altitude. Once the copter is stabilized in loiter and the indicated altitude is above 0, I can switch to guided successfully. See the end of the flight from this log:
[54.zip](https://github.com/ArduP

[2016-04-28 17:14] rrr6399 commented on #4000
Here is the variation of alt and throttle while switching modes:
![stabilize-to-loiter-guided-alt-throttle](https://cloud.githubusercontent.com/assets/2707426/14894736/bc28a38e-0d3a-11e6-9c49-bbde57e91cba.png)

[2016-04-28 17:41] t413 opened #4009 "ArduPlane BIN logs are empty in V3.5.1+"
Since V3.5.1 (working in V3.5.0) BIN log files stored on Pixhawks' SD cards have been zero-extended empty files.

Example of V3.5.0 log:
[6.BIN.zip](https://github.com/ArduPilot/ardupilot/files/241103/6.BIN.zip)

Example of V3.5.1 log:
[5.BIN.zip](https://github.com/ArduPilot/ardupilot/files/241110/5.BIN.zip)

Example of V3.5.2+ (latest release build):
[apm-3.5.3px4log-21.BIN.zip](https://github.c

[2016-04-28 17:46] ctonyperry commented on #4009
Same issue, using a Pixhawk clone from Ebay:

http://www.ebay.com/itm/Pixhawk-PX4-2-4-6-32bit-Flight-Controller-Led-NEO-M8N-GPS-PPM-OSD-3DR-915Mhz-US-/251858758736?hash=item3aa3f3ac50:g:py4AAOSw-vlVpNjx

[2016-04-28 17:47] ctonyperry commented on #4009
I am seeing the same issue on a pixhawk that I purchased from eBay. http://www.ebay.com/itm/Pixhawk-PX4-2-4-6-32bit-Flight-Controller-Led-NEO-M8N-GPS-PPM-OSD-3DR-915Mhz-US-/251858758736?hash=item3aa3f3ac50:g:py4AAOSw-vlVpNjx

[2016-04-28 22:42] peterbarker commented on #4009
On Thu, 28 Apr 2016, ctonyperry wrote:

Unable to reproduce on an old PX4 here and master.  Could you supply the
git sha for the release you are using, please?

What was your log_bitmask parameter set to?

Does the file grow normally over time, and at the sort of rate you would
expect given your log bitmask?

Have you tried a different SD card (two users having this problem, so it
is quite doubtfu

[2016-04-29 02:26] jinchengde commented on #3851
That is not about Safety_Switch, but mention to `bool Plane::is_flying(void)
{
    if (hal.util->get_soft_armed()) {
        // when armed, assume we're flying unless we probably aren't
        return (isFlyingProbability >= 0.1f);
    }

    // when disarmed, assume we're not flying unless we probably are
    return (isFlyingProbability >= 0.9f);
}
`
I will check the code for that

[2016-04-29 05:43] magicrub commented on #3851
In a stalled aircraft situation, is flying is unreliable. The parachute code should not be using is flying. I'll take a look at this soon regarding removing it.

[2016-04-29 19:51] haogodent2 opened #4013 "potential ekf2 height estimate source issue"
#### Issue details
EK2_ALT_SOURCE = 0 doesn't seem to be respected. following graph indicate that the estimate uses GPS height rather than BARO height. Please let me know if I'm missing something.

![ekf height estimate tracks gps alt ek2_alt_source 0](https://cloud.githubusercontent.com/assets/3250056/14927818/06c8a988-0e09-11e6-9ef2-a5a5472947f0.PNG)

#### Version
modified version of plane 3.5.0

[2016-04-30 01:41] gmorph opened #4014 "Rover: fix up the SPEED2THR_ parameter and associated documentation"
#### Issue details

Currently in the Rover in the Parameters.cpp file there is no doco associated with SPEED2THR PID controller and there needs to be.
#### Version

All
#### Platform

Rover

[2016-04-30 02:56] WickedShell commented on #3921
Addressed in #3985

[2016-04-30 02:56] #3921 closed

[2016-04-30 05:07] t413 commented on #4009
Using a different SD card I've confirmed it's a scam SD card, something I've actually experienced in cameras before but wasn't expecting here. Sorry for the erroneous bug!

Useful article for others who might have a similar problem: [How to check and spot fake Micro SD card ](http://www.happybison.com/reviews/how-to-check-and-spot-fake-micro-sd-card-8/)

[2016-04-30 05:07] #4009 closed

[2016-04-30 08:32] nocternal opened #4016 "Plane:elevon channel mixer's code seems not right"
I fly skywaker X8 which needs elevon mixer,in [attitude.cpp](https://github.com/ArduPilot/ardupilot/blob/master/ArduPlane/Attitude.cpp)
`void Plane::channel_output_mixer(uint8_t mixing_type, int16_t &chan1_out, int16_t &chan2_out)
666 {
667     int16_t c1, c2;
668     int16_t v1, v2;
669

670     // first get desired elevator and rudder as -500..500 values
671     c1 = chan1_out - 1500;
672     c2

[2016-04-30 09:02] WickedShell commented on #4016
@magicrub If you want to take a look at this, it seems like a correct point, but I'm not familiar enough with the mixer to be confident on that. A quick glance and it looks like that is operating on the raw outputs, rather then a normalized range.

[2016-04-30 20:48] magicrub commented on #4016
I'll look into this on Monday.
On Apr 30, 2016 2:03 AM, "WickedShell" <notifications@github.com> wrote:

[2016-04-30 21:16] thedevleon commented on #1587
The link to the lua script in [this post](https://github.com/ArduPilot/ardupilot/issues/1587#issuecomment-69619539) is sadly no longer working, neither is the one is [this one](https://github.com/ArduPilot/ardupilot/issues/1587#issuecomment-85604235). Can someone upload this one for me again please? @lakeroe @kilrah

[2016-05-01 00:13] lvale commented on #1587
@thedevleon It depends also on the OpenTX version...

[2016-05-01 01:22] magicrub commented on #4016
My initial thought is that we should never use a hard coded value "1500" in
the code and instead always use the trim value. I'll investigate. This is
probably a problem with all the mixers

Thanks @nocternal!

I'll look into this on Monday.
On Apr 30, 2016 2:03 AM, "WickedShell" <notifications@github.com> wrote:

[2016-05-01 01:32] nocternal commented on #4016
you are welcome~ expect new version mixer(^V^)

[2016-05-01 01:53] WickedShell opened #4018 "waf: fails to compile on windows"
#### Issue details
waf crashes after compiling the mavlink bindings

#### Version
e7974702d4f75ca4c98058b104b492e778daff3c
Python 2.7.10
CYGWIN_NT-6.1-WOW milton 2.4.1(0.293/5/3) 2016-01-24 11:24 i686 Cygwin
Windows 7 Pro x64

#### Platform
- [x] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover
#### Logs
[code]

[2016-05-01 01:57] magicrub commented on #4016
Expect? Does that mean you are working on a pull request?
On Apr 30, 2016 6:32 PM, "nocternal" <notifications@github.com> wrote:

[2016-05-01 02:19] nocternal commented on #4016
nope,sorry,I'm not working on it...because I think you're right,maybe other mixers have same problem.There are lots of mixer ,,but I don't understand other mixers well,it's better for a more experienced man fix them I think(^_^)

[2016-05-01 12:29] onurboy commented on #2289
Hi Folks,
I've just bought a Sony RX100 m2 camera with hotshoe connection but I have no idea about how to get the signal from the camera. Can anyone help me please?
Thanks
Onur.

[2016-05-01 12:42] Tietziano90 commented on #2289
Hey Onurboy,

basically what the hot shoe does, is connecting the two contacts to each other when triggering. It closes the circuit. I cant help you how to implement the signal recording into the ardupilot code because i use it with a raspberry zero ;)

So just connenct one wire to each contact and add a low voltage and try to log an eventpoint whenever the circuit gets closed!

Hope that helped a

[2016-05-01 13:18] onurboy commented on #2289
Tietziano90,
Actually just for right now, I do not need to feed the signal or triggering information to the ardupilot.
I just need to find out how to get an information from hot shoe that the camera actually triggers.
Thank you.
VR,

Onur.

[2016-05-01 13:45] onurboy opened #4019 "error terrain alt variance"
#### Issue details
_Sometimes, when I am flying with my pixhawk installed skywalker 1880 plane, I get error terrain alt variance message, EKF terrain bar fully red and it continues till the end of the flight especially in hard bank turns. Same day with several flights maybe only 2 or 3 of them or some times none of them give this error. Do you have an idea whats the root cause?
Thank you,

Onur.

[2016-05-01 16:25] WickedShell commented on #4019
This is an airspeed variance rather then terrain. It has to do with a
mismatch between the ekf and mission planner. It means there was a
difference between the estimated airspeed and the reported airspeed. There
is an issue tracking that already open
On May 1, 2016 06:45, "onurboy" <notifications@github.com> wrote:

[2016-05-01 16:39] OXINARF commented on #4019
@WickedShell are you talking about #3569?

[2016-05-01 16:43] WickedShell commented on #4019
Yeah, I'm in a airport and hadn't searched the issues list.
On May 1, 2016 09:39, "Francisco Ferreira" <notifications@github.com> wrote:

[2016-05-01 16:49] OXINARF commented on #4019
No problem. From that issue I gather that starting with Plane 3.5.1 it should be fixed right?

[2016-05-01 17:14] bchristal commented on #2289
This is a feature in APM plane, not copter *yet*.  See http://ardupilot.org/plane/docs/common-camera-shutter-with-servo.html#enhanced-camera-trigger-logging

[2016-05-01 17:22] onurboy commented on #2289
@bchristal thank you,
I've already read that info in wiki, that's why I bought the sony rx100 m2 with hot shoe but I could not find any universal hot shoe adapter that I can put on the camera hot shoe area in order to get a feed back signal. And also there is no information about how to get that feedback signal. I mean which pins will go into the pixhaw etc?

[2016-05-01 18:01] bchristal commented on #2289
You need to make a circuit like this:
![image](https://cloud.githubusercontent.com/assets/11396110/14943351/2ae1ee76-0f9c-11e6-9aae-dcb68deb3469.png)
Take power from the power pin on the Pixhawk rail.
I'm currently making a slide in circuit board. Here's a prototype. I just need a spring loaded contact for the middle hot shoe pin.
![image](https://cloud.githubusercontent.com/assets/11396110/149433

[2016-05-01 18:51] WickedShell commented on #4019
Yeah, this can be closed as it has been addressed. I don't none of Paul
would want to look at the log to look at why the airspeed warnings
occurred. EKF2 tightened the tolerance levels for this, and I suspect that
is the root cause of this.
On May 1, 2016 09:49, "Francisco Ferreira" <notifications@github.com> wrote:

[2016-05-01 20:01] mboland commented on #2289
Any ideas when we might have this feature for copter?

[2016-05-01 20:25] onurboy commented on #2289
@bchristal,
thank you so much for the detailed interest and information.
I think my biggest problem is hot shoe of my camera is different as shown below. I measured the center pin and ground with multimeter while taking pictures but I could not see any signal or voltage from the hot shoe.
These recent Sony's have multi interface hot shoes and I think they are different from yours.
I hope I can fin

[2016-05-01 20:37] bchristal commented on #2289
It will work. They are all the same since 1940. There is no signal at the hot shoe. There is a completed circuit between the base and the center when the shutter opens. When the circuit above is resting the center pin is +5. When the shutter opens, there is continuity between the center pin and base. The center pin is behind the resistor, so it goes to -. That change from High to Low is the signal

[2016-05-01 20:43] onurboy commented on #2289
@bchristal ,
Wooow, that's a huge information :)
Thank you I will try it ASAP.

Best Regards.

Onur.

[2016-05-01 23:45] sgh055 commented on #3999
@OXINARF Thank you! OXINARF
It is working!

[2016-05-01 23:45] #3999 closed

[2016-05-01 23:59] sgh055 opened #4020 "Linux IDE?"
Can I use any IDE on Ubuntu?

[2016-05-02 00:22] gmorph commented on #4020
This isn't an issue.  Your just asking a question.  Please do that in the Forum.
The answer however is yes as long as you can set it up to build using C++ and make.
Thanks, Grant.

[2016-05-02 00:22] #4020 closed

[2016-05-02 00:30] OXINARF commented on #4019
@onurboy This has been fixed starting with Plane 3.5.1, so you should update. Also next time, please post first in the forums (http://discuss.ardupilot.org), this issues list should be only for confirmed bugs.

@priseborough Tagging you just in case you want to look at the log.

[2016-05-02 00:30] #4019 closed

[2016-05-02 04:16] nitirohilla commented on #3921
Thanks @WickedShell

[2016-05-02 10:31] naktinis commented on #3837
I am happy to produce a pull request for this. However, as it affects altitude calculation on the Plane object, it would be nice to get an approval from someone in the main development team.

[2016-05-02 10:43] lakeroe commented on #1587
@thedevleon
Would you mind to post an email address ?
I can send you the lua script then ...

[2016-05-02 11:37] Johnex commented on #1587
@lakeroe did you make a new script that works on APM v3.3.3?

[2016-05-02 11:47] thedevleon commented on #1587
@lakeroe can you message me on [Gitter](https://gitter.im/) please? (Username is thedevleon as well.) I would prefer not to post my email publicly, if you understand.

[2016-05-02 13:24] CodeChief commented on #1587
What's the big secret with thses scripts? How about making a folder and pull request to some subdirectory of the APM source. I would expect this kind of support software to be available at firmware.diydrones.com where all the other add-on files are. Doesn't have to be on the OpenTX web site as their scope is to provide the hardware and protocol. APM team/comminity should own the APM specific stuff

[2016-05-02 13:39] furynick commented on #1587
Perhaps this script is in development state and not suitable for "production" use.

[2016-05-02 14:07] lucasdemarchi opened #4023 "waf: fail to update submodule"
#### Issue details
It's not possible to update submodule

#### Platform
- [x] All
- [x] AntennaTracker
- [x] Copter
- [x] Plane
- [x] Rover

[2016-05-02 14:07] lucasdemarchi commented on #4023
Move issue out of #3932 to be tracked here. Relevant details below.

[2016-05-02 14:08] CodeChief commented on #1587
Ok thought it would be organized the usual way, maybe an initial commit of "alpha" code then one or two users branch and play with it until the APM team think it's beta/testing quality (accept a pull back).

Maybe there are some open questions anyway that should be agreed in advance by the APM developers like where does this stuff all belong. Maybe just commit an empty directory stucture and let t

[2016-05-02 14:08] lucasdemarchi commented on #4023
[code]

[2016-05-02 14:13] lucasdemarchi commented on #4023
@kwikius it seems that your git program doesn't recognize an option we are passing. I'd bet it doesn't have the -C option, in which case we should provide a fallback and just do the right thing. What's your git version?

And... could you run this manually?:
[code]

[2016-05-02 14:21] aldoir commented on #1587
The point is the current S-Port implementation is very simple and is not working currectly (the VFAS variable doesn't work for example).

What Craft & Theory did was to write a new implementation using some "hacks" to transmit all the needed information to make a proper telemetry screen (including text messages, angles, etc). They're selling the script but they opened a pull request to merge their

[2016-05-02 14:35] thedevleon commented on #1587
@aldor - actually there has been some recent development in the opentx next branch.
See https://github.com/opentx/opentx/pull/3326, https://github.com/opentx/opentx/pull/3426 and my current WIP PR for PX4 (https://github.com/PX4/Firmware/pull/4361) that implements those changes (along with a way of sending mavlink messages).

[2016-05-02 14:43] magicrub commented on #3837
Option 1 sounds good, but I think we have member functions that utilize
terrain, don't we? May be nice to utilize lidar there too.
On May 2, 2016 3:31 AM, "Rimvydas Naktinis" <notifications@github.com>
wrote:

[2016-05-02 16:00] aldoir commented on #1587
@thedevleon glad to see there is an ongoing work on this feature. Subscribed for both and as soon it reach a more or less stable level will start to work on a telemetry screen (maybe joining your effort on the https://github.com/thedevleon/PixPilot)

[2016-05-02 19:50] onurboy commented on #2289
@taedla01, @bchristal,

I have implemented the circuit above to my camera and I think it works. I connected the multimeter and when I push the camera shutter button, voltage on the multimeter drops from 5.10V to 4.9V and goes back to 5.10V immediately.
I also changed the parameters in mission planner, make CAM_FEEDBACK_PIN=50(AUX1), CAM_FEEDBACK_POL=0 (voltage drops down) and conected the circuit

[2016-05-02 21:09] bchristal commented on #2289
Use the geotagging utility in Mission Planner, "Control F". The CAM Messages are the actual time. TRIG are picture commands sent from your Pixhawk. It is good that you have 7 CAM messages and 7 photos. The Geotag utility uses CAM messages. It ignores TRIG.

[2016-05-02 21:51] floaledm commented on #1587
@aldoir is right. The rewrite of the FrSky lib in ArduPilot (#3434) unlocks unprecedented capabilities for telemetry screens. It leverages the recent developments @thedevleon is talking about. We actually tested/validated the OpenTX code before it was merged using that pull request (#3434). No SensorID/DataID problem, and no need for discovery… it’s essentially not a hack anymore, but the proper w

[2016-05-02 21:59] Johnex commented on #1587
@floaledm you are totally right. I also hope your company donates some money from every script sold to all the wonderful devs that worked hard to make everything happen like Randy and Tridge and so on :)

[2016-05-02 22:09] lucasdemarchi opened #4025 "waf: reconfigure should be automatic"
Whenever the waf's wscripts change (or any waf tool) we need to reconfigure automatically with the last configuration passed.

This is because calling "waf configure" explicitly should be done only when the user want to change some thing, and not when he rebased his branch and possibly got updates from upstream.

Probably this info helps:
https://groups.google.com/forum/#!topic/waf-users/XQDz5VDQS

[2016-05-02 23:20] peterbarker opened #4026 "Compilation failure with gcc 5.3 ('isnan' not declared)"
#### Issue details

Compilation fails because isnan and isinf are not in the global namespace.  A simple "make -j8 linux VERBOSE=1" is sufficient to reproduce (so long as you're using gcc 5.3.1)

#### Version

github master (384ad94e73d7decd2958880f2f91ba3324c96ba6)

#### Platform
- [ x] SITL
- [ x] linux

#### Airframe type
n/a

#### Hardware type
n/a

#### Logs
n/a

The following patch is suffic

[2016-05-03 02:27] lvale opened #4028 "Reserved space for mission items"
#### Issue details
As discussed with @tridge , Linux based boards don't need to have the restrictions that STM32 based boards have regarding reserved space for mission items

#### Version
All Current versions
#### Platform
- [x] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
NA
#### Hardware type
Linux boards
#### Logs
NA

Locations to revise:

https://github.com

[2016-05-03 02:30] nocternal commented on #4016
How about standardize radio outs?Let calc pwm() sends out pwm radio out from 900 to 2100. In my opinion, it's a little weird that radio out and radio in use same trim and range ,is it better let radio outs trim standardized ,all at 1500? @magicrub ,if so, we needn't change mixers

[2016-05-03 02:57] OXINARF commented on #4026
As has been announced before we will be changing to the waf build system for Linux (and SITL).

The correct fix for the make build system is at https://github.com/ArduPilot/ardupilot/pull/3878#issuecomment-207663453
The reason it's not on master is because it would break older compilers.

I'll leave this open until we change to waf since we have received some issues about it and an open issue is e

[2016-05-03 03:00] OXINARF commented on #3553
Closing this in favor of #4026

[2016-05-03 03:00] #3553 closed

[2016-05-03 03:00] OXINARF commented on #3586
Closing this in favor of #4018

[2016-05-03 03:00] #3586 closed

[2016-05-03 03:32] peterbarker commented on #4026
@OXINARF What are your thoughts on this? https://github.com/ArduPilot/ardupilot/compare/master...peterbarker:recent-gcc-and-isinf?expand=1

[2016-05-03 03:42] OXINARF commented on #4026
@peterbarker This is actually an issue with glibc 2.23 but that's usually very tied with gcc 5.3 so I don't have an issue with that fix. Let me tag @guludo and @lucasdemarchi since they are the maintainers of the build system.

[2016-05-03 05:57] kwikius commented on #4023
@lucasdemarchi

Here is the output
[code]

[2016-05-03 08:53] dk7xe commented on #1587
donation http://www.open-tx.org/donations DONE. Since i'm also one of the demanding guys here i think we should give something back for the good work we receive for free.

[2016-05-03 09:17] naktinis commented on #3837
Here are the getter methods in `altitude.cpp` that utilize terrain altitude:
 - `Plane::relative_target_altitude_cm` – return relative to home target altitude in centimeters. Used for
  altitude control libraries
 - `Plane::calc_altitude_error_cm` – return error between target altitude and current altitude
 - `Plane::height_above_target` – return the height in meters above the next_WP_loc altitude

[2016-05-03 11:04] lakeroe commented on #1587
@thedevleon
I don't know Gitter but please try to download the LUA scripts from here:
ftp://mmanner1:attersee@members.aon.at/PixHawk.zip

They work using OpenTX V2.0.15.

[2016-05-03 13:00] OXINARF commented on #4023
@kwikius That's quite an old git version, 4 years. The -C option was introduced in git 1.8.5, which was released 2.5 years ago.
@lucasdemarchi I think we should support different versions of tools but obviously we need limits, and, for me, this one passes the limit.

[2016-05-03 15:40] kwikius commented on #4023
My version of Ubuntu is 12.04. This is the default version of git I get via the package manager. This version of Ubuntu is still current..
https://wiki.ubuntu.com/Releases
Sure I could install a newer version of git but now there is another dependency required by waf which wasnt needed with make. Whose life is waf simplifying then and what is the point of it?  It  seems it is raising the barrier t

[2016-05-03 15:50] lucasdemarchi commented on #4023
I think the change is simple enough to support it. If it gives more
problems we can revisit the requirements and check the minimum version in
the configure step.

Btw this is not a make vs waf difference. It's just regarding the way an
*external* tool is called.
Em 3 de mai de 2016 12:41 PM, "kwikius" <notifications@github.com> escreveu:

[2016-05-03 16:18] magicrub commented on #3837
Seems the terrain check is missing from relative_altitude(). You could also pass home to above_location_current()

[2016-05-03 19:33] onurboy commented on #2289
@bchristal
Thanks...

[2016-05-03 21:13] lucasdemarchi commented on #4023
Let me know if this is still an issue for you.

[2016-05-03 21:13] #4023 closed

[2016-05-04 09:27] kwikius commented on #4023
It is working for me now. Thanks

[2016-05-04 11:35] naktinis commented on #3837
I've looked at all calls of `relative_altitude()` (apart from parachute code):

    ArduPlane.cpp:    gcs_send_text_fmt(MAV_SEVERITY_INFO, "Landing approach start at %.1fm", (double)relative_altitude());
    Attitude.cpp:     fabsf(relative_altitude()) < g.ground_steer_alt);
    GCS_Mavlink.cpp:  relative_altitude() * 1.0e3f,    // millimeters above ground
    altitude.cpp:     float correction =

[2016-05-04 13:31] #3844 closed

[2016-05-04 17:37] magicrub commented on #3837
I think there's an important difference between above home and above
ground. That case is when you're landing and a different location than
where you took off from. Personally, alt above home is somewhat useless if
terrain and rangefinder data is available. HOWEVER, rangefinder data is
noisy (it sees trees and buildings) so we don't want to use it for
navigation unless it's specifically useful suc

[2016-05-04 18:27] Frief84 commented on #3819
Yes but it would pritty cool if you could change the flight mode channel.. because some
RC-Remotes unable to change the channel assignment for certain switches ( Spektrum DX7 old)
especially if you use the satellite

[2016-05-04 20:26] kwikius commented on #4016
FYI I did some work on a generic ArduPilot mixer, which creates a mixer form a script. It is designed to understand Ardupilot parameters and can use them as part of the mixer
https://github.com/kwikius/mixer_lang
An example script
https://github.com/kwikius/mixer_lang/blob/master/basic.mix

With that fleshed out all the current mixers would be redundant :)

[2016-05-04 20:33] magicrub commented on #4016
fancy!

On Wed, May 4, 2016 at 1:27 PM, kwikius <notifications@github.com> wrote:

[2016-05-05 00:09] rmackay9 opened #4038 "ADS-B based vehicle Avoidance"
The uAvionix ADS-B sensor is available and capable of providing data on many (50?) near vehicles which we can/should use to avoid vehicles.

Some ideas:
- the failsafe should probably be separated from the ADSB library which should become just a sensor library (like range finder)
- should add pre-arm check that stops vehicle from arming if a possible collision is detected (see algorithm below)
- i

[2016-05-05 00:17] R-Lefebvre opened #4039 "Copter: Prevent Auto-Mode Tipovers caused by missing takeoff command"
Currently, it is possible to have a mission programmed, where the first command is a waypoint.  And it is possible to begin the mission while the copter is sitting on the ground.  This will cause the copter to tip over as it tries to fly laterally while still on the ground.

We should protect against this.

I had one mission which began with a takeoff, and then fly around.  I began the mission, it

[2016-05-05 01:13] rmackay9 commented on #4038
Here's the useful paparazzi guy's take on this (found by TomP). https://wiki.paparazziuav.org/wiki/MultiUAV#TCAS

[2016-05-05 06:23] kwikius commented on #4016
@magicrub
Yes , though the mixer is not the trickiest part. That is to enter the labyrinth (of which the above issues are part) and slay the minotaur. :)

[2016-05-05 09:06] naktinis commented on #3837
Originally for this task I did not intend to add rangefinder data (only terrain). I wanted to have a method that would give the parachute code the best estimate of the distance to the ground. For this puspose, I think, rangefinder data is not necessary (also because of the noisiness you've mentioned).

Also, if the method is named `relative_ground_altitude`, incorporating rangefinder could be misl

[2016-05-05 14:55] kwikius commented on #3951
This should be caught by the linker. It will complain that the image wont fit I think and wont produce a binary

[2016-05-05 16:07] magicrub commented on #3837
closed via https://github.com/ArduPilot/ardupilot/pull/4045

[2016-05-05 16:07] #3837 closed

[2016-05-05 18:36] magicrub opened #4050 "Servos are motionless on boot but logs show OK"
#### Issue details
Occasionally (once every 50 boots) the servos are dead, no motion whatsoever, and only a reboot fixes it. I suspect the PX4IO because the APM logs look perfect, RCin and RCout and power all look normal.

#### Version
Plane v3.5.3

#### Platform
- [x] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

#### Hardware type
Pixhawk

#### Logs
I've looked at many logs of t

[2016-05-06 03:20] rrr6399 commented on #3881
@rmackay9 One pattern I'm seeing is that when channel 4 (yaw) of RCIN is 0 due to the R/C transmitter being turned off, sometimes the yaw rate is maxed out when switching to the guided mode takeoff. Could there be a bug where a RCIN value of 0 for Yaw is being mapped to a maximum Yaw (PWM 0) rather than PWM 500? I have seen these types of issues in the past where a 0 YAW or Pitch value is understo

[2016-05-06 04:15] rmackay9 commented on #3881
@rrr6399, yes it's quite possible that that's happening.  the desired-yaw (in the ATT) message should make it clear if that's happening.
There's currently two other issues that we're working on that are problems with Copter-3.4 so it's certainly not completely stable.  https://github.com/ArduPilot/ardupilot/pull/4046
I guess I'm just saying that although I haven't investigated this issue you're re

[2016-05-06 16:45] lucasdemarchi commented on #4018
could you do the following?

1) run waf with `-v` option
2) run the following command in `/home/WickedShell/ardupilot/build/sitl`:

[code]

[2016-05-06 16:50] WickedShell commented on #4018
Yeah, I'm in an airport at the moment, but I can easily run that this
evening.
On May 6, 2016 11:45, "Lucas De Marchi" <notifications@github.com> wrote:

[2016-05-07 03:54] rrr6399 commented on #3881
Here's a good example with the desired yaw, actual yaw and RC4 input for the problematic case where the R/C was turned off:
![yaw-history](https://cloud.githubusercontent.com/assets/2707426/15090069/e356a6a2-13e5-11e6-823a-e393b3c4ae8c.png)

[2016-05-07 06:57] WickedShell commented on #4018
[code]

[2016-05-07 09:10] SlipstreamFPV opened #4066 "Plane: Bug causes plane to ignore maximum pitch angle / pitch up for no reason"
#### Issue details
Flying my APM Plane today in cruise mode for no apparent reason the plane pitched itself up to 50 degrees. It was definitely a commanded pitch up by the autopilot. The cause isn't apparent to me looking through the logs so I suspect there may be a bug in the TECS code or the stall prevention code. The issue happens just before 12 minutes in the log.

#### Version
APM Plane 3.5.2

[2016-05-08 02:53] lucasdemarchi commented on #4028
As talked in person... raising to 128k for Linux boards would be reasonable enough.

[2016-05-08 11:47] AquilaUAS commented on #3338
Hi Guys, just reading this and I experienced a similar issue last Thursday whilst doing mapping flights, the first 2 flights completed as normal however the third somehow managed to complete 121 waypoint out of a total 187 and then proceeded to head off in the direction of the previous mission. When I looked at the BIN file the waypoints were those of the previous mission. I'm left confused as to

[2016-05-08 11:54] MR444 commented on #3641
Can anybody tell me if it is working at the moment with 3.4 dev or another version? I do not want to exchange flight controller again if it is not working.

Huege: Which compiled version do you suggest?

[2016-05-08 13:52] OXINARF commented on #3641
I believe this works on master. @tridge I think you have done some work on this, can you confirm it is working?

[2016-05-08 20:14] mboland commented on #3338
When we are mapping we always do a read after a write of the waypoints, to make sure there was no corruption and all were written OK, as we are often mapping in sensitive areas.
Do you guys do a read after the write?
I would be concerned if you did and there was still WP corruption during the mission.

[2016-05-08 20:30] AquilaUAS commented on #3338
To be honest a read after upload has never been done, though from now on it will be. I just find it concerning that just over half of the mission completed before the previous one apparently kicked in.

[2016-05-09 02:03] rmackay9 commented on #3338
It makes sense that we should protect against half written missions in the autopilot code and/or in the ground station.  It's not immediately clear to me how we should do that.  I suspect that the ground station, when uploading an entire mission, should first clear the existing mission and check that the mission has been cleared somehow (i.e ack/nak from the clear command).  .. so at the risk of p

[2016-05-09 05:22] smr277 commented on #3717
What is the exact flies that need to be looked at? Plus, what is the status on this?

[2016-05-09 05:58] AndKe commented on #3338
ApmPlanner2 does already that, writes a mission, then reads it back,
visualizing it while doing so.
The acks and ability to read back should be enough if GCS is well made and
cares to check.
On May 9, 2016 4:03 AM, "Randy Mackay" <notifications@github.com> wrote:

[2016-05-09 06:01] WickedShell commented on #3338
A implicit clear every upload can be extremely poor if the aircraft hits a waypoint that it was flying it, but hasn't received the next one yet (will cause a mode change, which the user wasn't expecting). A better solution for that part is atomic uploads which I will be looking into over the next couple of weeks

[2016-05-09 06:17] Huege commented on #3641
It's definitely working! I tried it one weeks ago.
Cheers

[2016-05-09 06:29] kudykam opened #4069 "Follow me mode does not work"
#### Issue details
When I switch to follow me mode, quad do nothing for 10 sec then start descending (and crash).

#### Version
3.4 dev (May)

#### Platform
- [ ] All
- [ ] AntennaTracker
- [X ] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
Quad

#### Hardware type
Pixhawk 2.4.8

#### Logs
https://www.dropbox.com/s/7diaagwrgogq51y/bin-logs.zip?dl=0
(the latest one)

[2016-05-09 06:33] tridge commented on #3641
yes, it works in master
there is still no RCn_FUNCTION for channels 1 to 4 though
i'll close this as it is definitely working for tricopter with tail on chan6

[2016-05-09 06:33] #3641 closed

[2016-05-09 07:01] magicrub commented on #4069
What GCS were you using?
On May 8, 2016 11:30 PM, "Martin Schrott" <notifications@github.com> wrote:

[2016-05-09 07:05] magicrub commented on #3338
I often upload an auto mission while flying auto because all I'm doing is
changing a param of a single mission cmd. I would really hate it if it
wiped before it uploaded, it would trigger an RTL and lose the mission
index.
On May 8, 2016 7:03 PM, "Randy Mackay" <notifications@github.com> wrote:

[2016-05-09 07:06] rmackay9 commented on #4069
Txs for the report.  Of course Copter-3.4-dev is "bleeding edge" software.  It hasn't even begun beta testing yet and as such is "use at your own risk".

[2016-05-09 07:34] tridge commented on #3641
I've also added the parameter docs for these RCn_FUNCTION values, so they should appear in the drop down menu in MissionPlanner soon (ie. RC6_FUNCTION=Motor7)

[2016-05-09 07:41] AndKe commented on #3338
Sometimes I too change/upload a new part of mission midair, but always
switch to loiter, upload, verify -if mission is supposed to resume from a
certain WP, I add a jump command in the beginning.

On 9 May 2016 at 09:06, Tom Pittenger <notifications@github.com> wrote:

[2016-05-09 07:56] kudykam commented on #4069
Tower app on mobile.
Tried v 3.3.3 before, but copter fly terrible and had EKF compass error. On 3.4 its fine.

[2016-05-09 08:25] AquilaUAS commented on #3338
Looking at the messages played back from the tlog, close to the point where the plane deviated from the mission I see a double "Execute nav command ID#16" . There are no other double command in the log. In this instance the mission upload was commanded whilst plane was stationary and unarmed on the ground. I'm beginning to think its a MP issue and not FC. I had a couple of failed mission uploads o

[2016-05-09 16:06] magicrub commented on #3338
Ok, I'll close this. @AquilaUAS can you post an issue about this on Mission Planner's issue page?

[2016-05-09 16:06] #3338 closed

[2016-05-09 18:53] onurboy opened #4071 "Auto Take Off (Hand Launch) Abnormal Roll"
#### Issue details

In plane wiki page, it's stated that we need to point the aircraft to the take off direction before switching the mode to auto because it records the direction while changing the mode before take off. Is it really needed and critical or is it just a notice?
What would plane do if we switch from FBWA to Auto while plane is on the ground and nose of the plane is directed to anoth

[2016-05-09 19:30] magicrub commented on #4071
It is no longer needed to be pointed in the launch direction when switching
to auto for a takeoff, the wiki needs to be updated. Your roll must be
something else. Is it just roll or does it actually navigate to somewhere
else?

On Mon, May 9, 2016 at 11:54 AM, onurboy <notifications@github.com> wrote:

[2016-05-09 19:36] WickedShell commented on #4071
Tom if the safety button hasn't been pressed or you have a acceleration
delay then that statement is true, but if you don't have any delay, and the
aircraft can spin the motor it will use the wrong heading.
On May 9, 2016 12:30 PM, "Tom Pittenger" <notifications@github.com> wrote:

[2016-05-09 19:52] onurboy commented on #4071
@magicrub,
Actually I think it wants to turn to somewhere different from the taking off direction, thats why it makes a hard roll to right or left. Since it's in the take off phase, the speed is relatively low and plane is trying to climbing, that abnormal roll or turning movement reduces the lift of wings, nose goes down and I need to give eleron to the opposite side and back elevator command fro

[2016-05-09 20:11] onurboy commented on #4071
@WickedShell,
What do you mean by saying " if the safety button hasn't been pressed "?

[2016-05-09 21:24] WickedShell commented on #4071
@onurboy if you are using the safety switch with pixhawk. When the safety is disarmed (blink LED, io processor reported as safe). which means that the outputs on channel1-8 are inhibited, the plane will not lock heading. It's something I use a lot, but the majority of plane users probably do not use in this manner.

[2016-05-09 21:52] onurboy commented on #4071
@WickedShell ,
I use safety switch. My action order in the field is;
1. Turn on TX,
2. Connect batt to Airplane,
3. Connect to airplane from mission planner,
4. After GPS lock push safety switch,
5. Arm airplane,
6. Switch mode to auto

All defined above done when the plane on the ground and stationary with a random direction.
Then I grab the plane, remove the pitot tube cover, consider the wind a

[2016-05-09 22:18] raptortrias opened #4072 "Flying wing differential spoilers AND crow flaps"
#### Issue details

For flying wing with 4 separate control surfaces (2 pair wing) it would be convenient to be able to setup both differential spoilers for YAW as well as crow flapss for AUTO_LANDINGS
#### Version

NA
#### Platform
- [ ] Plane
#### Airframe type

FLYING WING
#### Hardware type

PIXHAWK compatible
#### Logs

NA

[2016-05-09 22:37] magicrub commented on #4072
depends on https://github.com/ArduPilot/ardupilot/pull/2935

[2016-05-09 23:36] meee1 commented on #4018
return code on error is
Note: message AUTOPILOT_VERSION is longer than 64 bytes long (68 bytes), which can cause fragmentation since many radio modems use 64 bytes as maximum air transfer unit.
Note: message V2_EXTENSION is longer than 64 bytes long (262 bytes), which can cause fragmentation since many radio modems use 64 bytes as maximum air transfer unit.
Merged enum MAV_CMD
Found 180 MAVLink me

[2016-05-09 23:44] meee1 commented on #4018
additional
Found 180 MAVLink message types in 2 XML files
Generating C implementation in directory /tmp/ArduPlane.build/libraries/GCS_MAVLink/include/mavlink/v1.0/ardupilotmega
Generating C implementation in directory /tmp/ArduPlane.build/libraries/GCS_MAVLink/include/mavlink/v1.0/common
Copying fixed headers
last line in mavgen.py
Aborted (core dumped)

michael@WIN-3NBOUTHN4TN /cygdrive/c/Users/m

[2016-05-10 01:25] lucasdemarchi commented on #4018
@meee1 @WickedShell completely untested in a machine that crashes, but could you give it a try? https://github.com/lucasdemarchi/ardupilot/tree/pr/waf-windows-workaround

[2016-05-10 01:49] WickedShell commented on #4018
Still no joy
[code]

[2016-05-10 01:59] lucasdemarchi commented on #4018
@WickedShell ok... it seems python uses signed. Just pushed a version that may work. Could you try again?

[2016-05-10 02:38] WickedShell commented on #4018
@lucasdemarchi I'm always happy to test, still seems to be failing

[code]

[2016-05-10 02:44] OXINARF commented on #4018
@WickedShell actually tridge merged this and fixed that error, can you test master?

[2016-05-10 02:46] OXINARF commented on #3908
This was fixed by #4055

[2016-05-10 02:46] #3908 closed

[2016-05-10 02:48] WickedShell commented on #4018
@OXINARF still fails

[code]

[2016-05-10 02:51] OXINARF commented on #4018
@WickedShell ah just noticed, tridge didn't merge the second version Lucas put, but the first.

[2016-05-10 02:52] WickedShell commented on #4018
@OXINARF since all of Lucases branches fail for me I'm not to surprised master failed as well :)

[2016-05-10 03:42] tridge commented on #4018
i've pushed some changes which make it pass for both my windows boxes now, at least for building SITL

[2016-05-10 04:10] OXINARF commented on #4018
@tridge I made comments in the commits: https://github.com/ArduPilot/ardupilot/commit/5ef0c4d3fe083e67a084f166f6d1a9070c365c3b#commitcomment-17411303 and https://github.com/ArduPilot/ardupilot/commit/9653aae21f4047140026bca8b660f0edd028f059#commitcomment-17411315

[2016-05-10 04:26] WickedShell commented on #4018
master as of ~2 minutes ago made it through mavlink, still compiling the rest now, (I did see an error code, but it continued past it)

[2016-05-10 06:46] glody opened #4075 "ROS/Gazebo Simulator unable to start"
#### Issue details
_Setup "ROS/Gazebo Simulator" according wiki "http://ardupilot.org/dev/docs/using-rosgazebo-simulator-with-sitl.html" and try to start the simulator by command "sim_vehicle.sh -f arducopter_sitl_ros --console", Gazebo windows doesn't show, message "[launcher.launch] is neither a launch file in package [arducopter_sitl_ros] nor is [arducopter_sitl_ros] a launch file name
The trac

[2016-05-10 09:36] philippelecoq opened #4076 "Segmentation fault ArduCopter-quad 3.4 dev navio+ / raspberry PI2 / raspian jessie kernel 4.4.x"
#### Issue details
Segmentation fault
ArduCopter-quad 3.4 dev navio+ / raspberry PI2 / raspian jessie kernel 4.4.x
from daily build here : http://firmware.ardupilot.org/Copter/
- ArduCopter-quad-navio-2016-04-20.elf ==> OK
- ArduCopter-quad-navio-2016-04-30.elf ==> Segmentation fault

#### Version
ArduCopter-quad 3.4 dev

#### Platform
- [ ] All
- [ ] AntennaTracker
- [x] Copter
- [ ] Plane
- [ ]

[2016-05-10 18:52] SalahuddinAsh opened #4080 "How to import and build the project in eclipse"
#### Issue details
Hi guys
I'm a newbie with this project and with importing projects from github and working on them in eclipse
I don't want to know how to branch, clone or join
I just need to know how to import the project in eclipse and build it.
I tried searching for some tutorial but it didn't work .
In eclipse when it comes to **"Import existing Project**, it says "no projects found"

I woul

[2016-05-10 19:05] magicrub commented on #4080
Here you go: http://ardupilot.org/dev/docs/editing-the-code-with-eclipse.html#editing-the-code-with-eclipse

[2016-05-10 19:05] #4080 closed

[2016-05-10 22:18] lucasdemarchi commented on #4018
ok... seems to be working now. Thanks.

[2016-05-10 22:18] #4018 closed

[2016-05-11 03:04] lvale commented on #4028
https://github.com/ArduPilot/ardupilot/pull/4082

[2016-05-11 03:04] #4028 closed

[2016-05-11 09:10] khancyr opened #4088 "Calibration not working in sitl"
#### Issue details
Hi,
@guludo

The calibration module doesn't work
It blocks on "sitl_accelcal: %s - Waiting for attitude"
It seems that attitude change are not send to SIM. (see in SIMSTATE mavlink message)

#### Version
master with sim_vehicule.py

#### Platform
- [X] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
All

#### Hardware type
Sitl

[2016-05-11 10:26] sriramgbhagwat opened #4089 "How to use ADC in APM 2.7.1"
#### Issue details
i want to use the ADC to read the voltage and also to display the voltage in mission planner for example i want to use a temperature sensor to give voltage as input and want to see that values in Mission planner can this be possible? Also can i add new ADC value in status bar? please guide me how to do this.....thank you.

#### Version
_What version was the issue encountered wit

[2016-05-11 11:44] guludo commented on #4088
Hi @khancyr

You need to run the sitl binary with the "calibration" model. That's isn't on sim_vehicle.py yet. It's a good idea putting it there. In the meanwhile, you can just run you binary with `--model calibration `. Unfortunately, you can't calibrate and fly with the same model... Maybe we could add that feature in the future if that's needed.

[2016-05-11 12:06] khancyr commented on #4088
Thanks for the explanation. Could you add it to calibration Readme ?

So I got a different problem not related to calibration

[2016-05-11 12:06] #4088 closed

[2016-05-11 12:12] khancyr opened #4090 "APMrover 2 Sitl not arming"
#### Issue details
It is currently impossible to arm rover in sitl with sim_vehicule.py
Here is mavproxy output for arm throttle
[code]

It asked for acc Calibration. And got a problem with GPS...
This problem is not present in copter

Disable ARMING_CHECK works

#### Version
master with sim_vehicule.py

#### Platform
- [ ] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [X] Rover

#### Airfra

[2016-05-11 15:30] magicrub commented on #4089
Hi there,
You've asked a help question through the developers bug tracking system.
Please use the forums instead at http://discuss.ardupilot.org
On May 11, 2016 3:26 AM, "sriramgbhagwat" <notifications@github.com> wrote:

[2016-05-11 15:30] #4089 closed

[2016-05-11 15:44] OXINARF commented on #1241
Fixed on master.

[2016-05-11 15:44] #1241 closed

[2016-05-11 16:13] magicrub opened #4093 "sim_vehicle.py /w waf /w eclipse project broken on Cygwin"
![simvehiclepyfail](https://cloud.githubusercontent.com/assets/4782875/15187982/5fbf6a56-1758-11e6-90d2-35904a2095e3.png)

When using sim_vechile.py, which defaults to using waf, the build fails because it is confused about eclipse project files.

[2016-05-11 16:31] fnoop commented on #1241
Great, thanks :)

[2016-05-11 16:58] squilter commented on #4075
It works fine for me. Are you sure that you didn't miss a step in the directions?

[2016-05-11 23:45] SlipstreamFPV commented on #4066
Anyone had a look at this? It's got me concerned to fly my plane in the automatic modes now...

[2016-05-11 23:53] magicrub commented on #4066
I'll take a peek at the log now

[2016-05-12 00:22] SlipstreamFPV commented on #4066
Awesome. Thanks! Hopefully there is an obvious cause.

[2016-05-12 00:34] magicrub commented on #4066
I don't have any answers for you, but here's a summary of events I see in the log:
- Looks like all the action is just before the 12 minute mark
- RC input 2 briefly spikes from 1550 to 1700 which maps to a user-input of pitch-down.
- Immediately after that the pitch-demand expectantly climbs up from 0 to 35deg which is LIM_PITCH_MAX. The TECS controller's height-demand does not appear to be comma

[2016-05-12 00:42] SlipstreamFPV commented on #4066
Summary matches what happened well. The first pitch down corrections were minor as at the time I had a pan and tilt system on and I was looking around so it was hard to tell exactly what was happening. At first I thought the tilt had jammed up but I realised the plane was pitching once I switched off the pan tilt system. I initially pitched down as you noticed but it didn't hold the downwards pitc

[2016-05-12 03:13] gmorph opened #4099 "waf doesn't seem to like TAGS files"
#### Issue details
When I run sim_vehicle.py it uses waf to build ardupilot and that's failing on the TAGS files which I have in each vehicle folder.  I have TAGS files so emacs can find symbols etc.
When I remove the TAGS files it works fine.

#### Version
I'm on master.

#### Platform
- [X] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

#### Logs
grant@Bullant:~/uav/ardupilot/APM

[2016-05-12 03:25] gmorph commented on #4099
And now after I have re-generated my TAGS files the build is working.  I "guess" something in my old TAGS files was causing a problem.  I tend not to regenerate them very often.  I'll close this for now unless I find the issue again.

[2016-05-12 03:25] #4099 closed

[2016-05-12 03:35] gmorph commented on #4090
I'm unable to re-produce this issue.  Have a good read through this wiki page on running SITL.
http://ardupilot.org/dev/docs/using-sitl-for-ardupilot-testing.html
Note that initial load from the parameters file that you MUST do we as we need small INS_ACC offsets so INS is recognised as being calibrated.
You might also need to check how your GPS is configured.
Alternatively you can start from scra

[2016-05-12 03:50] OXINARF commented on #4093
#4099 seems to be another case of this problem

[2016-05-12 05:40] magicrub commented on #4066
I thought about the terrain thing but even though you had TERRAIN_ENABLE=1, you had TERRAIN_FOLLOW=0 so your autopilot is only configured to fetch the data but not actually use it.

[2016-05-12 05:42] magicrub commented on #4066
And also, the terrain log data shows the height data as all zero so that was definitely not the problem.

[2016-05-12 08:03] khancyr commented on #4090
To reproduce :
sim_vehicle.py -v APMrover2 --map --console
Then when init done : just arm throttle and you got the error

Using -w change nothing since it is already default param

Loading /Tools/autotest/Rover.param fixe arming. But we still got GPS config error
[code]

I am reporting the issue since there is a divergence with copter sitl

[2016-05-12 08:50] gmorph commented on #4090
That's the key - to start it with the -v from the ardupilot folder and I get the same problem.  However, if I cd to the APMrover2 folder and run it from there without the -v everything is fine.  I've re-opened.
Peter, one for you :-)
Thanks, Grant.

[2016-05-12 08:54] gmorph commented on #4090
Note I've just tested with sim_vehicle.sh and it has exactly the same problem.

[2016-05-12 10:27] peterbarker commented on #4090
@gmorph  Investigating.  Try starting it in the APMrover directory *after* moving aside your current eeprom.bin - I'm betting it won't arm for the same reason.

I wonder if the default parameter set is insufficient to let this arm.

If you could do a mavparmdiff between a working eeprom.bin and a non-working eeprom.bin that would be handy.  I *didn't* move my working eeprom.bin aside ;-)

[2016-05-12 10:50] khancyr commented on #4090
Just test inside or outside APMrover2 directory, with sim_vehicule.py alone or with -v option, with and without loading param. ( cleaning each time with git clean)

Directory and -v option haven't any influence.
Loading param (Tools/autotest/Rover.param) solve pre-arm accel issue

GPS issue is still present
According to code, it is because at pre-arm check, it cannot retrieve navigation rate param

[2016-05-12 11:36] EricXiao1990 opened #4104 "Copter won't stop and disarm when I land on uneven ground manually in Poshold mode."

[2016-05-12 13:33] khancyr commented on #4090
I fixe loading default parameters like in copter and plane.
But I didn"t find a clue about GPS bug

[2016-05-12 15:12] SalahuddinAsh commented on #4080
Hi, thanks a lot for the link
I tried to follow the installation instruction but a problem appeared
After installing eclipse, the Make tab on the right has the buttons "New Make target" and "Build make target" inactivated!!
And I don't know where the problem is?
I'm working on windows 7
Any suggestion please?
Thanks

[2016-05-12 15:35] jpkh commented on #4080
Github issue lists are more or less for the bug reports, merge requests etc. Technical / problemsolving issues are best to post at http://discuss.ardupilot.org forums
Please post there, your questions will be handled there easier and better.

[2016-05-12 15:38] magicrub commented on #4080
As @jpkh said, this is a bug tracking tool not a help tool. Please visit the forums at discuss.ardupilot.org. This issue is closed.

[2016-05-12 15:47] jpkh commented on #4038
I think default ranges should be higher. If ADS-B capable airplane is under 250-500m when alarms start go crazy. We chashed already. As currently we are talking commercial jets only. Hopefully in future also small aerial vehicles start to use ADS-B.
Using time as randy proposed would be a lot better.
I just cannot see ADS-B range breach unless uav is flying next to the airport which should not be

[2016-05-12 15:59] jpkh commented on #3934
To have gps based accurate heading measurement we really need sub-centimeter accuracy. Only rtk can provide close to accuracy what this type measurement needs. Having thick cloud at sky will lower down accuracy. So no, normal neo8 wont work. In generally gos accuracy is 1.5-5meters depensing on area.
Between highrise buildings even rtk wont work due multipathing and other interference. Compass is

[2016-05-12 16:24] aldoir commented on #1987
I can confirm this behaviour on Copter 3.3 as well.

All gimbal channels are ignored when failsafe is on

[2016-05-12 16:31] lennoncork2 commented on #1586
I've been trying to get GND_ALT_OFFSET to work as expected. I've been using the ArduCopter 3.3.2 SITL simulator and changing GND_ALT_OFFSET doesn't seem to have any impact in the system. I would have expected a change in the reported altitude GLOBAL_POSITION_INT and the aircraft to track to the new height. I can however get the desired effect by setting GND_ABS_PRESS and GND_ABS_TEMP, however the

[2016-05-12 16:35] magicrub commented on #1586
@lennoncork2 what version are you running?

[2016-05-12 16:37] magicrub commented on #1586
Oh, somehow I missed that you said v3.3.2, my bad. Have you tried comparing your baro to GPS alt? You should see a difference when you apply GND_ALT_OFFSET.

[2016-05-12 17:00] lucasdemarchi commented on #4093
This should now be fixed by #4111 and the double configure I see in the image above by #4100.

[2016-05-12 17:00] #4093 closed

[2016-05-12 17:03] SalahuddinAsh commented on #4080
I'm sorry guys for asking in the wrong place, I just didn't know it was the wrong place.

THanks

[2016-05-12 18:04] lennoncork2 commented on #1586
Thanks @magicrub, sorry for the simple question, but what message is specifically reporting the baro altitude. I have compared the altitude reported in GLOBAL_POSITION_INT to the altitude in GPS_RAW_INT, and see no relative change when setting GND_ALT_OFFSET. The aircraft (appears to) tracks the altitude reported in GLOBAL_POSITION_INT, and the details on Altitude Hold (http://ardupilot.org/copter

[2016-05-12 18:10] lennoncork2 commented on #1586
Also, when I set GND_ABS_PRESS, I see a change reported in GLOBAL_POSITION_INT, and the aircraft tracks to the new altitude.

[2016-05-12 18:28] magicrub commented on #1586
Maybe copter works differently than plane for this, not sure. Please start a new issue so it can be tracked instead of hijacking a closed issue.

[2016-05-12 23:03] peterbarker commented on #4090
@khancyr My SITL rover arms after applying your patch.  No GPS fault.

[2016-05-13 00:16] SlipstreamFPV commented on #4066
What about the GPS 3D velocity estimations, could they have come into play? I have dual GPS units but I did notice the sat count changes right before the glitch.

[2016-05-13 02:50] #4104 closed

[2016-05-13 04:15] tridge commented on #4066
Hi @SlipstreamFPV and Tom,
Peter and I have also had a look at the log. We don't yet know what happened, but it does look like something in TECS. The demanded pitch from TECS matches CTUN.NavPitch.
Do you happen to have the log of this flight as well? It's possible we are missing some critical log messages in the DF log and perhaps the tlog could offer some clues.
Cheers, Tridge

[2016-05-13 06:27] SlipstreamFPV commented on #4066
The tlog is only recorded if a data link is used correct? If that's the case I don't have one unfortunately. The only other record of the flight I have is the DVR footage which shows the event but doesn't obviously contain any more detail.

[2016-05-13 06:28] tridge commented on #4066
I have created a PR to address this issue here:
https://github.com/ArduPilot/ardupilot/pull/4119
the PR constrains the specific energy integrator to not change too fast. In the log the iph value changes suddenly by its full range. It is now limited to changing not more than 10% of full range per cycle, which will prevent glitches from causing this sort of pitch spike.
I also added logging of the i

[2016-05-13 06:34] WickedShell commented on #4066
I think it's a separate issue but semi related. I was in guided at 300m set
the target altitude to 120m. The aircraft hit 27m/s airspeed trying to
descend faster. Since this exceeds our maximum of 22m/s by a good margin
and it held it for a long time I have to think tecs wanted it. I haven't
gotten to review that log or the changes yet, I just wanted to mention it
as a place where tecs forced the

[2016-05-13 06:37] tridge commented on #4066
@WickedShell, can you link to the log of that overspeed problem?

[2016-05-13 17:40] magicrub commented on #4066
@tridge I posted some comments to PR https://github.com/ArduPilot/ardupilot/pull/4119

[2016-05-13 17:41] magicrub commented on #4090
is this ready to be closed?

[2016-05-14 01:59] lucasdemarchi commented on #4076
This should be fixed now on master.

[2016-05-14 02:01] lucasdemarchi commented on #4026
I don't object to it. But I must say this is a very fragile check likely to break soon.

[2016-05-14 03:00] epullah commented on #1935
how to fix arm:mode not armable if I set to do an autopilot.

i am using apm2.6..Please help me

[2016-05-14 03:29] gmorph commented on #4090
Fixed.

[2016-05-14 03:29] #4090 closed

[2016-05-14 03:44] magicrub commented on #1935
You've posted a how-to help question in the developers bug tracking system,
that's the wrong place. Please repost in the forums at discuss.ardupilot.org
On May 13, 2016 8:00 PM, "epullah" <notifications@github.com> wrote:

[2016-05-14 12:51] lucasdemarchi commented on #4076
If it still crashes, feel free to reopen.

[2016-05-14 12:51] #4076 closed

[2016-05-14 22:01] RaviPrasadWA opened #4128 "Error compiling Please dont tell compile master same problem"
#### Issue details
error: unrecognized command line option "-std=gnu++11"

#### Version
Copter-3.3

#### Platform
- [ ] All
- [ ] AntennaTracker
- [*] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
_What type of airframe (flying wing, glider, hex, Y6, octa etc)_

#### Hardware type
ArdupilotMega atmega2560

#### Logs
_Please provide a link to any relevant logs that show the issue_

[2016-05-14 22:05] RaviPrasadWA commented on #4128
OS - Ubuntu12.04
GCC - 4.6.3
G++ - 4.6.3
AVR-GCC - 4.5.3
AVR-G++ - 4.5.3

Command to compile  : make apm2

[2016-05-15 00:03] magicrub commented on #4128
APMv2 hardware support was dropped before v3.3. Ran out of memory.
On May 14, 2016 3:05 PM, "Ravi Prasad" <notifications@github.com> wrote:

[2016-05-15 00:03] #4128 closed

[2016-05-15 06:10] RaviPrasadWA opened #4129 "Not able to upload the Arducopter-3.2.1 firmware"
#### Issue details
ERROR: address 0x40010 out of range at line 16389 of /tmp/ArduCopter.build/ArduCopter.hex

#### Version
ArduCopter-3.2.1

#### Platform
- [ ] All
- [ ] AntennaTracker
-  Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
N/A

#### Hardware type
ArduPilotMega atmega2560

#### Logs
/usr/bin/avrdude -c stk500v2 -p atmega2560 -P /dev/ttyACM1 -b115200  -U flash:w:/tmp/ArduCopter.buil

[2016-05-15 06:12] RaviPrasadWA commented on #4129
OS - Ubuntu12.04
GCC - 4.6.3
G++ - 4.6.3
AVR-GCC - 4.5.3
AVR-G++ - 4.5.3

Command to compile : make apm2
Command to upload : make upload

[2016-05-15 06:12] RaviPrasadWA commented on #4129
And yes the port is /dev/ttyACM1 not /dev/ttyACM0

[2016-05-15 09:52] magicrub commented on #4129
Does anyone know if v3.2.1 supported apmv2 hardware? I thought it did but
this compile error says the binary is too big which is why we stopped
supporting it.

Ravi, did you change the code any or are you compiling the code exactly on
the v3.2.1 tag?
On May 14, 2016 11:13 PM, "Ravi Prasad" <notifications@github.com> wrote:

[2016-05-15 12:27] lokanaft opened #4130 "Need ratio for different throttle output for coaxial copter"
#### Platform
- [x] Copter
#### Airframe type

Coaxial

I test two coaxial motors on thrust stand with different throttle level and found with same thrust 500gr:

| Throttle level _M1 / M2_ | Current |
| --- | --- |
| 50% / 50% | 2A |
| 47% / 52% | 1.85A |
#### How I see to use it:
1. Set "Ch6 Opt" for this ratio function parameter
2. In flight "Loiter" try different ratio with Ch6
3. After, open

[2016-05-15 15:14] kwikius commented on #4128
Your compiler is out of date. You need AVR-GCC - 4.7 or higher.  That is the first version to support -std=gnu++11

[2016-05-15 15:30] kwikius commented on #4129
He could try a later version of avr-gcc. Later versions should produce more compact code.
Try avr-gcc4.7.x

[2016-05-16 01:54] rmackay9 commented on #4129
Copter-3.2.1 was the last version to work with the APM 2.x boards.  The issue is that it barely fits so, as @kwikius says, a different compiler may help.  Alternatively he/she may be able to make it fit by disabling some features in APM_Config.h.

[2016-05-16 01:54] #4129 closed

[2016-05-16 11:47] rmackay9 opened #4134 "Copter: support acceleration control via SET_POSITION_TARGET_LOCAL_NED"
Add support for acceleration targets (from the GCS or companion computer) received via the SET_POSITION_TARGET_LOCAL_NED and SET_POSITION_TARGET_GLOBAL_INT commands.
http://mavlink.org/messages/common#SET_POSITION_TARGET_LOCAL_NED
http://mavlink.org/messages/common#SET_POSITION_TARGET_GLOBAL_INT
#### Version

These are not supported in Copter-3.4
#### Platform
- [ x] Copter

[2016-05-16 15:35] Jman841 opened #4135 "Optical/ESC Rotor RPM Sensor support and feature request"
details
The majority of major ESC's now have an output for RPM sensor, or, the use of an Optical sensor to measure the rotor speed on Arducopter Traditional heli can be used for a governor and as a auto-rotation fail-safe. Currently, if in an auto mode and you have a motor failure the helicopter will pitch up until it looses all rotor speed and falls out of the sky. If we have the RPM measurements

[2016-05-16 16:42] rscarawa opened #4136 "Booting issue with PX4Mini AIO board on all firmware versionq"
#### Issue details

I have a new Mini AIO board that initially worked and now seems to fail on boot.  I have loaded many different firmwares on to this board but now only get a red led.  I have never flown with this board as I am still configuring the plane which this will go in.  The messages I get are:

From BOOT file:  No PX4IO board found failed to start mtd driver
From px4io_update:  check Sa

[2016-05-16 16:44] rscarawa commented on #4136
I have also tried formatting the card and tried different sd cards with no success.

[2016-05-16 16:56] magicrub commented on #4136
I don't know much about the px4io but that error message sounds like a
hardware failure to me.
On May 16, 2016 9:44 AM, "rscarawa" <notifications@github.com> wrote:

[2016-05-16 17:21] waTeim commented on #1640
Following up here from the referenced dronekit issue.  When operating in *GUIDED* mode, there is a need to control the yaw rate so that yaw angle transitions are not perceived to hitch from one angle to another, but rather smoothly and if possible continuously transition.  This seems to be a longstanding limitation and related (in addition)  to #1635, #1758, and #4134.

[2016-05-16 19:56] rscarawa commented on #4136
Looking inside the terminal window, I get this error when trying to start MTD.

nsh>  mtd start
mtd:  failed to initialize EEPROM driver.

Is that a hardware issue?

[2016-05-16 20:41] WickedShell commented on #3783
Reproduced the other day on ArduPlane V3.5.2 (22e94dbb). Satellite was reporting that it had link, but no servo movement. RCIN and RCOU do show movement commanded so I'm not sure why nothing happened there. I forget the status of the IO LED at this point. Using the IO override did not grant control either. Log is available here: http://files.swiftradioplanes.com/27.BIN

[2016-05-16 20:43] WickedShell commented on #4066
@tridge the log is here: http://files.swiftradioplanes.com/30.BIN the overspeed occurred while in a guided descent. I haven't looked through it yet in detail. (There is also a serious looking EKF panic (that it recovered from) part way through the mapping mission that I'm hoping to get Paul to look at).

[2016-05-16 20:53] magicrub commented on #3783
FINALLY SOMEONE ELSE SEEMS THIS! Thank you @WickedShell . Now, if only we had any clues to what is actually causing the problem. The only thing that really comes to mind is a race condition in the px4io serial rx handler that depends on the timing of the first DSM parsed message. Only a guess though.

[2016-05-17 05:40] glody opened #4140 "Failed to build Examples"
#### Issue details

"collect2: error: ld returned 1 exit status" while running test "./Tools/autotest/autotest.py build.Examples".

Git bisect result:
commit 7814841cd6c2222bdb5bd86ffc5b132c873b1bf2
Author: hiro2233 htakey@gmail.com
Date: Fri Apr 1 05:03:22 2016 -0400
AP_HAL: Add RCOutput interactive example with Menu
:040000 040000 b1d241a7e99a934c5993bd748d707d76b711b7d0 d7b8e09d7833f75d154d2d1b

[2016-05-17 05:51] glody opened #4142 "fly_CopterAVC() got an unexpected keyword argument 'valgrind'"
#### Issue details
TypeError: fly_CopterAVC() got an unexpected keyword argument 'valgrind' while running fly.CopterAVC test
Pull request #4141 had created to fix this issue.

Git bisect result:
commit 8774f15b9a2c784d4095d93d7241994fac010dd0
Author: Peter Barker <pbarker@barker.dropbear.id.au>
Date:   Mon Apr 11 18:05:39 2016 +1000

    Tools: add valgrind option to autotest.py

:040000 040000 a1

[2016-05-17 08:20] RaviPrasadWA commented on #4129
Hi guys APM_Config.h is not at all modified even the code is not modified guys I am approaching on a solution to make cheaper/simpler OPen source solution out of the ardupilot henceforth the use of 2560mega much cheaper than pixhawk any how Will try it with avr-gcc 4.7.x or if any of you could help me reduce the code I would grateful for that also ...... AND THANKS FOR THE SWIFT REPLIES ...... HOP

[2016-05-17 08:30] RaviPrasadWA commented on #4129
WOOOOOOOOOOOOOOOW I just disabled a few features in APM_Config.h and added a -D flag in the avrdude command its ALIVE .................. ( WORKING ..... )

[2016-05-17 09:58] nephen opened #4143 "Build ardupilot/libraries/AP_AHRS/examples/AHRS_Test error"
#### Issue details
Build ardupilot/libraries/AP_AHRS/examples/AHRS_Test examle error as below.

[code]

#### Version
Commit [e3b2e90a2762684f](https://github.com/ArduPilot/ardupilot/tree/e3b2e90a2762684f240e481a285b46f6de0500ab)

#### Platform
- [ ] All
- [ ] AntennaTracker
- Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
_What type of airframe (Quadcopter +)_

#### Hardware type
_What autopil

[2016-05-17 11:38] peterbarker commented on #4142
Thanks!  We no longer get the problem in Python.  The test still doesn't pass for me due to an RC Calibration issue.

[2016-05-17 11:38] #4142 closed

[2016-05-17 13:01] lucasdemarchi commented on #4140
make build system is deprecated for Linux  boards. From your log I see it fails for you with the navio board. I just checked with waf and it works.

What we probably need to do is to change the build_examples.sh script to use waf instead of make.

[2016-05-17 13:16] R-Lefebvre commented on #4135
RPM input is already supported in the code.  I'm not sure if this is detailed in the wiki.

I've also got some governor code working already but it's not in Master.

[2016-05-17 13:16] mday299 opened #4144 "SITL mission no longer working on current master."
#### Issue details
my Plane won't take off anymore (running off of ArduPlane/master). Looks like the set of commits that changed "is_zero" may be the culprit. If I'm on this commit:
ArduPilot/ardupilot@48c243b

takeoff is broken, but if I'm on this one:

ArduPilot/ardupilot@ebd993d

all is well.

#### Version
Current master.  See also notes on specific commits in "Issue details" above.

#### Platf

[2016-05-17 14:27] magicrub commented on #4129
Congrats!
On May 17, 2016 1:31 AM, "Ravi Prasad" <notifications@github.com> wrote:

[2016-05-17 18:19] magicrub commented on #4144
I can confirm this. The template can not handle AP_Float so a temporary workaround is to change is_zero(var) to is_zero(var.get()) but really is_zero needs to be fixed ASAP.

[2016-05-17 18:27] OXINARF commented on #4144
@magicrub According to what was said before, that's not a workaround but the correct way to write it. I'm not very familiar with this, so I'm tagging @lucasdemarchi and @tridge here.

[2016-05-17 18:38] OXINARF commented on #4144
I was looking at the template and it seems that it was supposed to handle AP_Float, I would say the issue is with std::numeric_limits<T>::epsilon() but I'm not sure. Tagging @dgrat too.

[2016-05-17 19:05] lucasdemarchi commented on #4144
I thought sitltest would catch this problem, sorry for the trouble.

We are calling fabsf() so there's no point in trying to figure out a different epsilon. It's now fixed on master.

[2016-05-17 19:12] lucasdemarchi opened #4149 "Improve broadcast address handling"
#### Issue details
The bcast flag in ardupilot is primitive: it still needs the user to pass a valid broadcast address and doesn't work without one.

This makes it harder for writing an init unit file since you need to know what's the IP of the drone when you are configuring it. Even on scenarios where you are configuring Linux to act as an Access Point, depending on the right interface/address is

[2016-05-17 19:16] lucasdemarchi commented on #4144
Actually let me push to a PR and close this when it's applied:

[2016-05-17 19:24] magicrub commented on #4144
Thanks Lucas
On May 17, 2016 12:16 PM, "Lucas De Marchi" <notifications@github.com>
wrote:

[2016-05-17 19:25] magicrub commented on #4144
Michael, I'm out at the field right now, are you able to test out Lucas's
patch? If not I'll get to it tonight.
On May 17, 2016 12:24 PM, "Tom Pittenger" <tom@airphrame.com> wrote:

[2016-05-17 19:29] lucasdemarchi commented on #4144
I actually tested a takeoff in sitl. Just wanted someone to confirm the
fix. I can push it.
Em 17 de mai de 2016 4:25 PM, "Tom Pittenger" <notifications@github.com>
escreveu:

[2016-05-17 19:51] magicrub commented on #4144
But does it compile in cygwin on make?
On May 17, 2016 12:30 PM, "Lucas De Marchi" <notifications@github.com>
wrote:

[2016-05-17 20:11] OXINARF commented on #4144
Someone should write a SITL test for this, because it didn't fail on Travis (but we only test QuadPlane there) neither in our Autotest server.

[2016-05-17 21:44] dgrat commented on #4144
@lucasdemarchi
just for interest, what's wrong with std::numeric_limits<T>::epsilon()

[2016-05-17 22:02] magicrub commented on #1628
There is a partial solution to this via PR https://github.com/ArduPilot/ardupilot/pull/4122

[2016-05-17 22:11] magicrub commented on #335
Airspeed error is now in m/s but the mavlink msg is still cm/s.
https://github.com/ArduPilot/ardupilot/blob/master/ArduPlane/GCS_Mavlink.cpp#L374

[2016-05-17 22:26] WickedShell commented on #335
It would be really nice to fix the message IMO. Even if it causes some GCS headache, makes us more compliant with the spec, and makes it easier for GCS's to support multiple platforms more easily.

[2016-05-17 23:28] rmackay9 commented on #4149
that sounds useful!

[2016-05-18 01:10] mday299 commented on #4144
@magicrub Tom: appears fixed for Plane as far as my tests show.

[2016-05-18 02:59] alexblack opened #4153 "Question - Source for SET_POSITION_TARGET_LOCAL_NED"
Hi, I'm trying to get my 3DR Solo drone to make precise movements (without GPS) by sending the `SET_POSITION_TARGET_LOCAL_NED` message.

Where can I find the source for this so I can get a better sense of how its implemented? I am not familiar with the ArduPilot source yet.

Thanks!

[2016-05-18 03:00] alexblack opened #4154 "Question - Moving precisely without GPS"
I'd like to be able to move and position the drone without GPS, I'm working on a visual positioning system that uses the camera to detect a target from which position can be determined.

I'm using `SET_POSITION_TARGET_LOCAL_NED` (through DroneKit) to move the drone (a 3DR Solo), and its generally working, but, the movements are not very precise, for example I attempted to move the drone 10cm, and

[2016-05-18 03:01] alexblack commented on #4154
In particular altitude control seems poor, often it kinda of jumps up and down, could this be related to: http://diydrones.com/forum/topics/althold-inaccurate-altitude-estimation-and-motor-pulsing?xg_source=activity&id=705844%3ATopic%3A2170652&page=3#comments

[2016-05-18 03:05] rmackay9 commented on #4153
I'm afraid the EKF only knows it's position and velocity if it has a GPS attached (or an optical flow).  It's not possible for it to know these values just from the IMU.

As a side note, we get this question pretty much once per week at the minimum.  We should probably put something on the wiki somewhere to answer this.

[2016-05-18 03:05] #4153 closed

[2016-05-18 03:08] alexblack commented on #4153
Thanks for the response Randy, my question was about where to find the source, any suggestions?

[2016-05-18 03:22] #4154 closed

[2016-05-18 03:22] magicrub commented on #4154
You've posted a help question in the developer TODO list. Please re-post in
discuss.ardupilot.org

On Tue, May 17, 2016 at 8:01 PM, Alex Black <notifications@github.com>
wrote:

[2016-05-18 03:23] rmackay9 commented on #4154
It's also a duplicate of this one which I've answered.  https://github.com/ArduPilot/ardupilot/issues/4153

[2016-05-18 03:29] alexblack commented on #4154
Hi Randy, oh, they're different questions, and I don't see an answer to the other one.. #4153 I asked where to find the source for SET_POSITION_TARGET_LOCAL_NED

[2016-05-18 03:29] alexblack commented on #4154
Ok, thanks @magicrub

[2016-05-18 04:19] rmackay9 commented on #4153
@alexblack, Ah ok.  I was perhaps jumping ahead.  In any case, here's where the POSITION_TARGET message comes in. https://github.com/ArduPilot/ardupilot/blob/master/ArduCopter/GCS_Mavlink.cpp#L1691

[2016-05-18 04:41] alexblack commented on #4153
Cool, thanks @rmackay9 !

[2016-05-18 08:11] magicrub commented on #3748
this is fixed, old news

[2016-05-18 08:11] #3748 closed

[2016-05-18 08:12] magicrub commented on #3754
pending PR: https://github.com/ArduPilot/ardupilot/pull/4155

[2016-05-18 08:13] magicrub commented on #4050
closing because this is a duplicate of https://github.com/ArduPilot/ardupilot/issues/3783

[2016-05-18 08:13] #4050 closed

[2016-05-18 08:16] magicrub commented on #3787
questions like this will get more attention in the forums at http://discuss.ardupilot.org, this is the developer TODO list.

closing.

[2016-05-18 08:16] #3787 closed

[2016-05-18 09:52] khancyr commented on #4144
@dgrat just see in example that std::numeric_limits<T>::epsilon() must be scaled to the magnitude of values used but we don't do it
http://en.cppreference.com/w/cpp/types/numeric_limits/epsilon

[2016-05-18 10:32] dgrat commented on #4144
@khancyr
No this is not true. It is a template function returning FLT_EPSILON for a float a parametet.

[2016-05-18 10:34] dgrat commented on #4144
The fix is essentially a very bad one, because it is not accurate for doubles or anything else. Anyway, I am out of this.

[2016-05-18 11:55] lucasdemarchi commented on #4144
There was 2 problems. First is that we were calling fabsf() that returns a float and then trying to compare to epsilon from the type. This is wrong... You'd need to at least use std::abs(). The second is that if T is AP_Float the epsilon is should be from float not from AP_Float.

[2016-05-18 11:57] lucasdemarchi commented on #4144
@dgrat I know the fix is not optimal. But leaving the master branch broken is worse.

[2016-05-18 12:47] Jman841 opened #4156 "Frequency Interference preflight Check"
#### Issue details
Yesterday I had some very dangerous situations when flying with a 1.5w 1.3ghz VTX on a plane with ardupilot

Details and logs are here, I have more logs from further flight tests if needed, also this log has 2 flights on it, the first is flown without the VTX and flies perfect, the second is the crazy behavior with the VTX:

 http://discuss.ardupilot.org/t/very-strange-unexplain

[2016-05-18 18:45] magicrub commented on #4156
I suspect gps jamming, I'll take a look at the logs in a couple hours when
I have a chance.
On May 18, 2016 5:47 AM, "Jman841" <notifications@github.com> wrote:

[2016-05-18 22:04] magicrub commented on #4156
sat count was degraded during second flight, see forum post for details

[2016-05-18 22:04] #4156 closed

[2016-05-18 22:46] Jman841 commented on #4156
I don't think this is resolved, the issue is definetly interference of the GPS and possibly other sensors, but the issue is that there was no preflight check to say there was a problem. Sat count was still at 9 or above which is a safe level to fly at, however, this resulted in a catastrophic flight if I didn't take over in manual mode. The issue is to somehow add a preflight check for GPS or othe

[2016-05-18 22:50] magicrub commented on #4156
right now, in plane, all hell breaks loose when you lose GPS unexpectedly
in AUTO. Not sure what can be done about that pre-flight wise.

On Wed, May 18, 2016 at 3:47 PM, Jman841 <notifications@github.com> wrote:

[2016-05-18 23:06] Jman841 commented on #4156
Not exactly sure as I do not understand the workings of it all. Any idea why FBWA would be effected as well?

The second graph wickedshell posted in the other discussion seems to show large interference almost right away when the VTX was plugged in. Maybe whatever that graph is showing should have a arming threshold?

I am going to test tomorrow with a lower powered VTX in a position as far away a

[2016-05-18 23:07] WickedShell commented on #4156
@Jman841 I'm double checking now, but I actually don't see us checking those anywhere in the arming checks, and I think we should be strongly checking them. The EKF has some thresholds before it accepts the data, so it makes sense to mirror those as a general arming check. I'm looking now and will open an issue on that aspect.

[2016-05-18 23:26] magicrub commented on #4156
FBWA, much like other flight assisted modes, requires the EKF to not be in
a freak-out mode which is what happens when the GPS is giving bad data. I
think MANUAL is the only mode that is not using the EKF to direct the
aircraft.

On Wed, May 18, 2016 at 4:08 PM, WickedShell <notifications@github.com>
wrote:

[2016-05-18 23:38] Jman841 commented on #4156
Ah ok,

Thank you for the explanation. I have some other logs with the VTX installed from when I was trying to narrow down the problem. All the flights resulted in a stall.

Also, Tom, for the stall recovery side, these logs all have a stall and a manual recovery if it could be of any help for that as well. This plane recovers very easily considering its on the max flyable weight (1.8 meter foamy

[2016-05-18 23:44] magicrub commented on #4156
yes, please post a link to the logs in
https://github.com/ArduPilot/ardupilot/issues/2933 and
https://github.com/ArduPilot/ardupilot/issues/2669 with a short decription
of what happened and the aircraft type. More logs the better there, thank
you for sharing! I'm not sure when I'll get to those, I'd be perfectly
happy if someone else wants to work on it also. My TODO list is quite long
and the sta

[2016-05-19 00:00] magicrub commented on #2766
is this still wanted?

[2016-05-19 00:17] Jman841 commented on #4156
No problem, I'll post them when I get back to civilization. The internet out here is horrible.

[2016-05-19 01:52] iskess commented on #2766
I still think it would be a good enhancement that gives the operator some airspeed control to handle dynamic situations, but still offering protections. I don't see any reason not to add this.

[2016-05-19 07:08] glody commented on #4075
I missed to add folder 'catkin_ws/src' to $ROS_PACKAGE_PATH. which is the root cause of the error above.

After fix that, I still unable to start gazebo, I tried many times, and didn't find miss steps. Could you find the reason from the log below? Thanks.
[gazebo start error.txt](https://github.com/ArduPilot/ardupilot/files/271998/gazebo.start.error.txt)

[2016-05-19 07:14] khancyr commented on #4075
hi,

You got : ERROR: cannot launch node of type [mavros/mavros_node]: can't locate node [mavros_node] in package [mavros]
ERROR: cannot launch node of type [joy/joy_node]: joy
Did you install mavros and joy package ? Did you source you catkin workspace ? (in the root of you catkin workspace use : source devel/setup.bash)

[2016-05-19 17:34] raptortrias opened #4165 "Dual Geofence"
#### Issue details
Provide two geofence radius , 1st for RTL, 2nd for flight termination

This would give a buffer that manual intervention could be allowed so pilot can take control, without having to terminate flight on first breach when AFS flight termination is enabled.

#### Version
NA

#### Platform
- [ ] All
- [ ] AntennaTracker
- [ ] Copter
- [x ] Plane
- [ ] Rover

#### Airframe type
Fixe

[2016-05-19 19:20] RaviPrasadWA opened #4167 "How to set pwm output range"
#### Issue details
I want to control servo from ch1 , ch2 , ch3 , ch4 the servo i think respond to timing between 0-1024 so is there a way in the code libraries/AP_Motors to set RC_Output range or map( scale) the output to 0-1024 range ?

#### Version
v3.2.1

#### Platform
- [ ] All
- [ ] AntennaTracker
-  [x] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type

#### Hardware type
ArudpilotMega APM

[2016-05-19 20:57] parvu opened #4170 "RC_UART"
#### Issue details

tried to run RC_UART on PX4-V1 with input data from qualcomm snapdragon.
can not get ESC_MAGIC  F7
#### Version

_What version was the issue encountered with_
#### Platform
- [ ] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover
#### Airframe type

_What type of airframe (flying wing, glider, hex, Y6, octa etc)_
#### Hardware type

qualcomm snapdragon + px4-v1
####

[2016-05-19 21:07] OXINARF commented on #4167
@RaviPrasadWA We don't support APM boards anymore. Also this issues list is used as a TODO list for the developers, not for questions. You can post in the forums (http://discuss.ardupilot.org) or you can try to get an answer in Gitter.

[2016-05-19 21:07] #4167 closed

[2016-05-20 10:38] nephen commented on #4143
just remove AHRS_Test.cpp.d

[2016-05-20 10:38] #4143 closed

[2016-05-20 23:02] WickedShell opened #4179 "TECS: Detect and handle overspeed conditions"
#### Issue details
If the aircraft is in an over speed condition TECS won't counter it past reducing the throttle, TECS will not demand a raise in pitch, which can lead to making the overspeed worse. Tagged as a safety feature since overspeeds can cause undo stress to the aircraft, or cause it to shed parts/lose control.

#### Version
3.5.x but still applies to master

#### Platform
- [ ] All
- [

[2016-05-20 23:22] magicrub commented on #4179
I haven't looked at the log yet but was the cause of the overspeed in the
waypoint mission?

On Fri, May 20, 2016 at 4:02 PM, WickedShell <notifications@github.com>
wrote:

[2016-05-20 23:30] WickedShell commented on #4179
Was a large descent in a guided point where it was already at the point. ~200 meter change demanded, it had it under control, then didn't get quite the descent it wanted for a moment (thermals I suspect) which caused it to force the nose down to the limit (which by itself was fine), but as soon as it hit the max airspeed I think it should have backed off rather then continue to hold the max down p

[2016-05-21 00:14] magicrub commented on #4179
agreed. The TECS should always aim to keep the target airspeed within
the ARSPD_FBW_MIN/MAX flight envelope.

On Fri, May 20, 2016 at 4:30 PM, WickedShell <notifications@github.com>
wrote:

[2016-05-21 04:05] peterbarker opened #4180 "FPE when running autotest.py with build.Helicopter and fly.ArduCopter"
#### Issue details
Floating point exception encountered on master when using autotest.py

#### Version
master (5461002eea9592dbb6933fd5a23f0e95e3ec630d)

#### Platform
- [ ] All
- [ ] AntennaTracker
- [*] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
heli

#### Hardware type
SITL

#### Logs

[code]

(I've removed the "ahrs home alt" debug messages; they were all zero)

[2016-05-21 06:08] peterbarker commented on #4180
Paul's recent EKF work appears to have stopped the FPE from occurring.  Test really doesn't go well, but no FPE.

[2016-05-21 06:08] #4180 closed

[2016-05-21 14:41] cudnn opened #4184 "hi may i use quadplane control x plusone drone？https://m.youtube.com/watch?v=pOG7lF0tYiM"
#### Issue details
_Please describe the problem, or desired feature_

#### Version
_What version was the issue encountered with_

#### Platform
- [ ] All
- [ ] AntennaTracker
- [ ] Copter
- [ ] Plane
- [ ] Rover

#### Airframe type
_What type of airframe (flying wing, glider, hex, Y6, octa etc)_

#### Hardware type
_What autopilot hardware was used? (pixhawk, pixracer, PX4FMU etc)_

#### Logs
_Ple

[2016-05-21 14:44] cudnn opened #4185 "hi may i use quadplane control x plusone drone？"
https://m.youtube.com/watch?v=pOG7lF0tYiM

[2016-05-21 14:47] #4184 closed

[2016-05-21 15:06] jeffstreet commented on #1861
+1 for twin-engine support. BormaTec has a twin-engine plane (Explorer) and is working on a new one.

[2016-05-21 15:43] OXINARF commented on #4185
@cudnn Please stop spamming. GitHub isn't the proper place to ask questions. You should use the forum (http://discuss.ardupilot.org), or in last case, the Gitter channel - but no spamming in either of them!

[2016-05-21 15:43] #4185 closed

[2016-05-21 16:07] Jman841 opened #4186 "Plane: Stabilize modes effected by GPS Jamming"
#### Issue details
Even modes that do not rely on the GPS currently can go crazy and cause a crash if there is GPS Jamming or interference. From my understanding, Manual is the only mode that is currently not effected by the EKF if there is some sort of GPS Jamming.

This seems very dangerous, especially if the plane is out of line of sight and flying in Manual would be very difficult or near impo

[2016-05-21 18:04] iskess commented on #4156
Would TRAINING mode be affected? It's a hybrid of MANUAL and FBWA. I ask because we use it as a manual take over mode since it provides full manual control with protections for over controlling, which often happens when the operator is urgently transitioning to manual flights with uncalibrated thumbs.

[2016-05-21 18:17] WickedShell commented on #4156
It would be affected if your AHRS is being compromised as it might think
you are at limits when you aren't.
On May 21, 2016 11:04 AM, "Iam Bouret" <notifications@github.com> wrote:

[2016-05-21 19:21] iskess commented on #4156
That's what is thought. This is a serious vulnerability. We need to find a way to downgrade from EKF when it freaks out. Perhaps EKF is overkill for STABILIZE mode.  Is DCM an option?

[2016-05-21 21:40] Jman841 commented on #4156
I agree, I opened another issue for this, however, maybe the issue should be more broad to include all EKF errors, not just GPS errors.

New issue is here: https://github.com/ArduPilot/ardupilot/issues/4186

[2016-05-22 02:56] WickedShell commented on #4186
Circle mode doesn't try to hold position, it just wants to hold a constant bank. Again though depending on how it's handled you could be suffering from a bad AHRS solution. I haven't really experimented with this aspect.

Couple of things regarding the BLOS scenario. Unless you have a video stream coming back from the aircraft, what does stabilize get you? (IE you still don't know where to aim the

[2016-05-22 04:12] rmackay9 commented on #4156
I think the autopilot, no matter what, is going to be in bad shape if the attitude estimate (from the EKF) goes bad.  I don't think the solution is "let's switch to DCM" but rather to make sure the EKF is not vulnerable.  So really I think Paul Riseborough should have a look at the logs, if he says, "ah, no way the EKF could ever handle this" then the DCM option can be considered but I don't think

[2016-05-22 18:43] iskess commented on #4156
My thought was that using DCM for some basic modes like STABILIZE and CIRCLE would provide redundancy to EKF used in more complex modes. There is always some risk that EKF could fail, its smart to have a mode to fall back on with basic wing leveling for example.

[2016-05-22 19:02] Jman841 commented on #4186
Right, but all assisted modes and circle mode if the EKF is going crazy seem to be affected as the attitude control is lost. The result from these flights was a hard pitch up that would cause a stall then the plane would crash because once in a stall in any assisted or auto mode there is no means of recovery for Arduplane. It seems like a very critical vulnerability and one that there is no means

[2016-05-22 19:12] WickedShell commented on #4186
We don't have nearly the requisite level of sensors to do that for any
period of time. If you lose GPS on this level of hardware then almost
immediately you must ignore any reported position. It's not nearby good
enough to shoot an approach with.
On May 22, 2016 12:03 PM, "Jman841" <notifications@github.com> wrote:

[2016-05-22 19:28] Jman841 commented on #4186
Ah ok,

Here's some more logs if needed, 2 flights with the VTX where I switched to Manual and FBWA to get the plane landed and one log without the VTX where everything was perfect.

https://www.dropbox.com/s/eu0779jwl1bopjy/GPS%20Jamming%201.bin?dl=0

https://www.dropbox.com/s/qftziqptst7ufuo/GPS%20Jamming%202.bin?dl=0

https://www.dropbox.com/s/6y2c5g65spjxz3r/No%20VTX%20or%20issues.bin?dl=0

[2016-05-22 20:55] iskess commented on #4186
Tridge posted this 2 years ago in a response to my X8 flyaway and crash. http://ardupilot.com/forum/viewtopic.php?f=44&t=5808&start=10#p9880

### _> I think we need to add a FS_GPS_ENABLE option that allows you to specify the action to take on losing GPS. I think this should behave much like FS_GCS_ENABL, and allow you to first start circling at FS_SHORT_TIMEOUT then to RTL at FS_LONG_TIMEOUT. The

[2016-05-23 19:02] Jman841 commented on #4186
Here's a log from today resulting in a crash from the same issue. The GPS was moved to the very back most portion of the tail and the VTX is about a meter away to the front. We have multiple planes with this VTX without issues and with the GPS closer. I am beginning to suspect it is interference with a difference sensor, or, something with Arduplane 3.5.3 that the EKF errors are much worse than on

[2016-05-24 01:07] rmackay9 commented on #3052
this is in master now.

[2016-05-24 01:07] #3052 closed

[2016-05-24 01:08] rmackay9 commented on #1825
This is in master now and users are reporting that it's working so closing.

[2016-05-24 01:08] #1825 closed

[2016-05-24 01:09] rmackay9 commented on #1305
This is in master now.

[2016-05-24 01:09] #1305 closed

[2016-05-24 01:10] rmackay9 commented on #819
a BUZZ_ENABLE parameter has been added to master

[2016-05-24 01:10] #819 closed

[2016-05-24 11:45] naktinis opened #4200 "Plane: Programmable engine kill switch"
In some situations it would be better to kill engine ignition instead of just suppressing the throttle, as this would work faster to take the propellers to a halt.

There is an option to set RCN_FUNCTION to "EngineRunEnable", but I don't see it ever being used in plane's code (only in AP_MotorsHeli_Single.cpp). There's even a comment next to "EngineRunEnable" saying "engine kill switch, used for g

[2016-05-24 15:56] magicrub commented on #4200
instead of just suppressing the throttle, as this would work faster

Can you give us an example of this? The throttle suppression is automatic, are you proposing to have an additional one via RC input?

[2016-05-24 16:11] R-Lefebvre commented on #4200
The idea when I started this, was that it was a secondary kill system (typically ignition system) that would be tied to armed/disarmed status.  This is because some regulations require two kill methods for large gas motors.  And this way, the user would *not* be required to use a separate channel to control the kill, it would be automatic.

I don't think the work got finished though.

[2016-05-25 11:38] gelazanskas commented on #4200
What Rimvydas and I want to implement is automatic ignition kill 1) after landing, 2) before [emergency] parachute release, 3) when operator wants to do so (manual kill). For carburettor engines it is currently done by lowering the throttle servo until engines "suffocates" and dies. In addition, one can implement ignition kill switch, which cuts off voltage to the spark and kills the engine faster

[2016-05-25 11:55] salonijain12 commented on #660
@rmackay9 and @R-Lefebvre, please suggest if the approach is being decided ?
Do we need to create a new param (INITIAL_MODE) and a new flight mode "uninitialised" at startup  as in case of rover and handle the case when receiver is not present, or should we default it to any other mode if  receiver is not present.

[2016-05-25 17:37] Shaofuhw opened #4207 "Mavlink 2.0 not found"
#### Issue details
Hi, updated to current master today, and tried to build the code, but:
include/mavlink/v2.0/ardupilotmega/version.h: No such file or directory.
If you go to the include directory, there's only a v1.0 folder, with is currently this one:
https://github.com/ArduPilot/PX4Firmware/tree/49988db62fd11c9c512cfba8fa8257f1290a6f9c/mavlink/include/mavlink

#### Version
master

#### Platfor

[2016-05-25 18:00] OXINARF commented on #4207
That MAVLink isn't used, our own submodule is. Have you updated the submodules?
This isn't the place for support questions, so if you need any help you are welcome to post in our forums (http://discuss.ardupilot.org) or in Gitter.

[2016-05-25 18:00] #4207 closed

[2016-05-25 19:31] buckker opened #4210 "AltHold Algorithm Bug"
Hello Friends
I posted my problems in connection with overshooting in the AltHold mode a few months ago on DIYDrones. But nobody really listen...
Today I did some aerial footage for a commercial. It was windy but I saw no reason to don't start. I waited in the the Loiter Mode until I get the order to fly forward. Suddenly my X8 coax copter nearly did a backflip... I switch immediately to the Stabi

[2016-05-25 23:23] geofrancis commented on #3934
Now that cheap rtk gps units are becoming avalible it could be done for not a lot http://navspark.mybigcommerce.com/ns-hp-rtk-capable-gnss-receiver/

[2016-05-26 01:52] lvale opened #4212 "Copter pulses on Motor test"
#### Issue details
While performing motor test via MP all the motors twitch a little when a motor test button is clicked
#### Version
3.4master 25-5

#### Platform
[  ] All
[  ] AntennaTracker
[x ] Copter
[  ] Plane
[  ] Rover

#### Airframe type
Quad
#### Hardware type
PixRacer

#### Logs
N/A

Already discussed and detected that a pulse is sent to all the motors
Using BLHeli 14.6 firmware on ESC'

[2016-05-26 02:19] tridge commented on #4212
Hi Luis, I think this is fixed now. Can you please test master again on your quad?
I'd also like to know if OneShot125 is working for you again

[2016-05-26 03:02] lvale commented on #4212
Stranger...

Cleared everything, redid calibrations (radio and accels) and I've setup the parameters as in the file attached.

Attached logic analyses reflects the following actions:
Plugin battery, Wait for the ready tone on the Racer, press the safety button, motors start twitching, even not armed. Armed and raised throttle to max twice and motors still twitching. Disarmed and motors still twitc

[2016-05-26 06:21] lvale commented on #4212
https://github.com/ArduPilot/ardupilot/commit/53fc095d4ce6ac0783acfb7394d3187502a43530

should be enough to address issue

[2016-05-26 06:21] #4212 closed

[2016-05-26 08:30] jaluna opened #4214 "Fix implementation of _parse_decimal_100() in AP_GPS_NMEA"
#### Issue details
_Please describe the problem, or desired feature_

AP_GPS Library, AP_GPS_NMEA.cpp needs to fix parse_100 (as in Master branch)

See
https://github.com/ArduPilot/ardupilot/pull/3602#event-666440090
https://github.com/ArduPilot/ardupilot/pull/4166#event-667152498

#### Version
_What version was the issue encountered with_
3.3.3
#### Platform
[  ] All
[  ] AntennaTracker
[x] Copte

[2016-05-26 12:50] OXINARF commented on #4214
Beta testing of 3.4 will start soon, and since this isn't exactly a safety issue, I don't think we will release a new 3.3 version to fix this. @rmackay9?

[2016-05-26 16:12] arashn commented on #3936
Testing with the latest version of ArduPilot, this issue has been fixed. Thank you.

[2016-05-26 16:12] #3936 closed

[2016-05-26 17:24] dgrat opened #4215 "Using compass with no compass connected is buggy"
#### Issue details

Setting a primary compass leads to UB if the compass is not connected.
E.g. the barometer calibration starts in endless loop :D
#### Version

Emlid master version
#### Platform

Probably all, but tested with Copter.
[x] All
[  ] AntennaTracker
[  ] Copter
[  ] Plane
[  ] Rover
#### Airframe type

X4
#### Hardware type

Navio2
#### Logs

_Please provide a link to any relevant lo

[2016-05-27 05:16] kudykam commented on #4069
I tried followme today with reinstalled system on my android phone Xiaomi mi4c with miui 7. Now quad hoover on one spot and do nothing when switched to followme. Doesnt matter if I change radius, altitude, or follow me mode.

[2016-05-27 06:31] nitirohilla commented on #1126
@rmackay9 . Could you please confirm is this bug still open ??

As I am not able to reproduce it at my end. Could you please suggest a scenario to replicate this issue at my side so that I can pick it up.

[2016-05-27 08:58] jaluna commented on #4214
I don't want to enter in the discussion of if its a safety issue or not, but we have a fleet of 20 drones flying in formation (an show), so we have fixed in below way and we have solved the problem of automatic landing.

in h
int32_t    _parse_decimal_100();

in cpp
#define round(x)								((x)>=0?(long)((x)+0.5):(long)((x)-0.5))

int32_t AP_GPS_NORTH::_parse_decimal_100()
{
    char *q, *p = _ter

[2016-05-27 08:58] #4214 closed

[2016-05-27 10:05] night-ghost opened #4218 "No inertial speed in MAVlink flow"
#### Issue details

There is no  inertial speed in MAVlink flow, so in GPS-less setups a lots of speeds always ==0. There is inertial_nav.get_velocity_xy() function that used internally in 2 places but not for MAVlink.

I understand that this speed is very inaccurate, but it is better this than nothing. So when gps_fix_type==0 (that means no GPS) airspeed and groundspeed in MAVlink should be set t

[2016-05-27 12:28] R-Lefebvre commented on #4200
Yep, exactly.

And some regulations require an ignition kill method.  I believe Tridge's flying club requires this, and I think he's doing it now via a channel passthrough.  IMO, it would be safer to tie this to an automatic method.

[2016-05-27 12:34] R-Lefebvre commented on #4210
I don't believe there is a bug here, as Alt Hold uses the same Attitude control algorithm as Stabilize.

I think the problem you are having is that your Attitude control PIDs (RATE_xxx_P, I and D, and STAB_xxx_P) are not tuned adequately.  And/or, your copter control bandwidth is not high.  Then, the Altitude controller running in Alt_Hold mode is using up too much of the control bandwidth, so the

[2016-05-27 12:58] philippelecoq opened #4220 "ArduCopter-quad FrSky Telemetry Support Telem2 port output protocol 3 or 4"
#### Issue details
ArduCopter-quad  FrSky Telemetry Support Telem2 port output protocol 4 don't support all mavlink messages:
You can read here : http://ardupilot.org/copter/docs/common-frsky-telemetry.html
Missing: GPS date&time  , AccelX,Y,Z  , CELLS  , RPM  , Air speed  , Vertical speed
I note that there is still more missing values :
With NAVIO+ and ArduCopter-quad 3.4 dev  I can read only 9 t

[2016-05-27 13:22] OXINARF commented on #4220
This isn't the proper place for making questions, for that you should use the forum (http://discuss.ardupilot.org) or, in last case, Gitter.

The FrSky protocol has specific telemetry it looks for. You can hack it to send other values, and ArduPilot already does that for some values, but it isn't the perfect solution. Anyway, there are, at least, two open PRs to improve the FrSky library.

[2016-05-27 13:22] #4220 closed

[2016-05-27 14:45] buckker commented on #4210
Thanks Rob

Your explanation sounds plausible. What do you mean with the bandwith? Or which are the parameters to tune?

Here is the setup of my X8 Coax:
Motors: Dualsky XM5015MR 6 TURN (390KV)
ESC: Maytech OPTO 50A BlHeli
Props: Tiger 16x5.4"
Battery: 6S16000mAh
Takeoff weight: 8.5kg

the log file is attached on my first post, I hope you can see it ;-)

![fl8copter-x8-800-coax_1](https://cloud.gi

[2016-05-27 15:36] a7scenario opened #4225 "Fused Altitude reading always 0 on Solo w/functional Lidar Lite"
#### Issue details
Running Master from 26 May on a 3DR Solo w/Lidar Lite (blue label) and PX4Flow.  When airborne, the the Altitude in Mission Planner and in DroneKit show 0 in the GCS HUD and in VFR_HUD messages.  The RANGEFINDER messages show correct altitude (3-4 meters) and I've confirmed that both EK2_ALT_SOURCE=1 (use rangerfinder not baro) and EKF_ALT_SOURCE=1, however, the Solo is running

[2016-05-27 17:04] khancyr opened #4226 "Compile failed with gcc 6.1 on Ubuntu 16.04"
#### Issue details

@tridge
Hi, I use gcc version 6.1.1 20160510 (Ubuntu 6.1.1-2ubuntu12~16.04) on Ubuntu 16.04 and I got new error because of this commit https://github.com/ArduPilot/ardupilot/pull/4202:

[code]
#### Version

Master
#### Platform

[X] All
[  ] AntennaTracker
[  ] Copter
[  ] Plane
[  ] Rover

[2016-05-27 19:35] magicrub commented on #4026
is this ready to be closed?

[2016-05-27 19:36] magicrub commented on #3951
So this is specific to "px4-v2-upload" still attempting to upload?

[2016-05-27 19:38] magicrub commented on #3868
There was a recent bugfix by Tridge for quadplane (https://github.com/ArduPilot/ardupilot/commit/9933069679caf5b6e77018093d780707e45130d4). Maybe it's related?

[2016-05-27 19:39] lucasdemarchi commented on #4026
yes

[2016-05-27 19:39] #4026 closed

[2016-05-27 19:42] magicrub commented on #3825
@marcmerlin Let me summarize: You want a bench-able motor test without changing params, or at least hard to do on a tablet that may be forgotten to be done.

Do you have any suggestions how on the work-flow? Maybe a mavlink command which will spin the motors for a moment (0.1 to 5 seconds)?

[2016-05-27 19:44] magicrub commented on #3783
fixed by sending repeated attempts until the armed state is correct: https://github.com/ArduPilot/ardupilot/commit/67aaf7e226fd1ac9d6acd3589a53e962dab91588

[2016-05-27 19:44] #3783 closed

[2016-05-27 19:45] magicrub commented on #3600
any thoughts on this (removing param ALT_OFFSET)?

[2016-05-27 20:28] marcmerlin commented on #3825
Correct. I have 5 motors and 15 sets of props, and honestly the only way to really know what you're going to get is to test them on the bench.
The first thing that comes to mind, and that would also help in other cases, is to allow holding the arming switch for let's say 5 seconds and it would arm the motors even if the arming checks don't pass.
Or if you prefer, pushing the switch quickly 5 times

[2016-05-27 20:30] marcmerlin commented on #3825
But to answer your direct question, a mavlink command that spins the motor is not what I'm looking for.
1) sometimes I just need to arm without passing the checks
2) a bench motor test involves me controlling power level from a stick, and looking at multiple graphs. Turning the motor 5 seconds or whatever is not the right thing to do. Sometimes I may even abort the motor test if 10% power doesn't

[2016-05-27 20:30] magicrub commented on #3825
I like those ideas, we just need to be super careful that they don't get used on accident or abused in a way that reduces safety.

[2016-05-27 20:37] marcmerlin commented on #3825
Agreed on "used by accident", but "abused in a way that reduces safety", you just can't.
We're talking about making the bypassing of safety checks, safer. The mere fact that you're bypassing safety checks means that if used improperly it can reduce safety. But right now, you already do that if you need it, however you have to turn all safety checks off and remember to turn them back on later (whic

[2016-05-27 20:55] magicrub commented on #3825
Well I certainly agree that the current scheme of turning off the checks is
very bad and leads to problems like you've had. Something should be
available to test the motor just before every flight without major param
changes and/or a dozen GCS clicks. Sounds like a topic for the next dev
call.

On Fri, May 27, 2016 at 1:37 PM, Marc MERLIN <notifications@github.com>
wrote:

[2016-05-27 21:05] WickedShell commented on #3951
Yeah, or in general if the binary is to big we shouldn't end make/waf with
a success state

On Fri, May 27, 2016 at 12:36 PM, Tom Pittenger <notifications@github.com>
wrote:

[2016-05-27 21:30] OXINARF commented on #3868
@rrr6399 Can you confirm this is still happening?

[2016-05-27 23:01] lvale commented on #4069
There will be a new method of follow-me, now that Mavlink already has a specific message to handle that situation.
Also, GCS's like Tower will have to implement that also

https://github.com/ArduPilot/ardupilot/issues/3929

[2016-05-28 01:39] marcmerlin commented on #3825
Thanks, to be clear this would fix my issue of testing the motor, but more generally I think it makes sense to use the same mechanism to allow force- arming the plane if all the tests don't pass and the pilot needs to arm once and potentially fly anyway. If you don't agree with that last bit, allowing motor arm on the bench only still would be a good thing for testing.

[2016-05-28 09:59] thecodingfrog commented on #3225
Any info since I've open this ?
Loiter speed is still available on CH6_OPT list but still doesn't change the loiter speed.
![img_20160528_114923](https://cloud.githubusercontent.com/assets/12624593/15626686/9bb2891e-24cb-11e6-9746-8a0ed6aede78.jpg)

[2016-05-28 10:49] kudykam commented on #4069
I tested follow me again today, make sure my phone has gps lock. When in loiters simple mode, I swithce to follwo me, then set high to 3m (was in 2) then quad start fast descending and crash.

When can we expect another dev release of new firmware?

(off topic: Can I set descent speed in LOITER mode nad ALT HOLD mode separately? pilot_velz_max works for both)

[2016-05-28 12:53] OXINARF commented on #3225
That Loiter Speed label is indeed wrong. And no, this still hasn't been implemented. Anyway, we are changing tuning to a new library that Plane is already using, so this will probably be fixed then.

[2016-05-28 12:56] OXINARF commented on #4069
Beta testing of 3.4 starts today! You can see and discuss it at http://discuss.ardupilot.org/t/copter-3-4-beta-testing-start/9290

[2016-05-28 14:19] rmackay9 commented on #4069
@kudykam, I'll give follow-me a try next week (hopefully early next week) and see if I can reproduce the issue.  I've had a quick look at the logs and the vehicle is trying to descend.  Maybe the changes to support absolute altitudes mean that we are now interpreting the Tower messages differently (i.e. before we assumed the target altitudes were all alt-above-home when Tower may actually have bee

[2016-05-28 14:49] thecodingfrog commented on #3225
That sound good

Jean-Louis PERSAT

Le 28 mai 2016 2:54 PM, Francisco Ferreira <notifications@github.com> a écrit :

That Loiter Speed label is indeed wrong. And no, this still hasn't been implemented. Anyway, we are changing tuning to a new library that Plane is already using, so this will probably be fixed then.

—
You are receiving this because you were mentioned.
Reply to this email directly,

[2016-05-28 18:47] buckker commented on #4210
I have done some other test flights with 2 other X8 multicocpters. Exactly the same problem... During a auto mission one copter nearly did a flip.... The strange thing is that the copter follows the desired pitch (see the attached log). In this case I would say it's no overshooting. I have noticed that the Des Pitch and the Des Roll target values varies very fast. So the lines in the graph are som

[2016-05-28 19:52] DonLakeFlyer opened #4230 "Can ArduPilot use WIND_COV from common message set intead of ardupilot dialect WIND message?"
This would make it easier to write a single bit of GCS code.

[2016-05-28 20:55] lvale commented on #4069
@rmackay9 We don't have implemented yet https://github.com/mavlink/mavlink/issues/509

Then it will be a matter of the GCS's to also support it

[2016-05-29 14:20] R-Lefebvre commented on #4210
Ok, I had a look at the logs.  I'm not seeing what the problem or even bug is.  When it pitches back, it's because you commanded it to pitch back.  And the angle tracking is really not bad.

Your ATC_ACCEL_P_MAX and _R_ are a little high for a copter that size.  I would try changing them to maybe 72000.

[2016-05-30 00:26] rmackay9 commented on #4069
@lvale, but just to be clear, Tower uses constant position updates to implement follow-me in the Tablet.  It's not a great way to do it but that's how it's done and it should work.

[2016-05-30 01:18] rmackay9 commented on #4225
I think I've heard this report somewhere else as well although it was in a different context.  Perhaps the vehicle didn't have a GPS lock yet.. or to be more precise the EKF hadn't selected it's "origin" yet so there was not home location set (i.e. the vehicle wouldn't have shown up on the ground station map yet).  In this case, it seems we're not updating the altitude sent to the GCS.

[2016-05-30 01:24] rmackay9 commented on #3868
I've just tested the motors test on a quad with the latest beta and it seems to work.  The report that "altitude is too low" is very odd.  I can imagine that "throttle too low" could be a report.
In any case, it seems to work as far as I can tell so without any recent feedback that it's broken I'm going to close this issue.

[2016-05-30 01:24] #3868 closed

[2016-05-30 03:56] rrr6399 commented on #3868
I'll test it out this week once I get my hexacopter working again. I imagine if its working for Randy it should work for me as well.

[2016-05-30 04:07] rrr6399 commented on #3881
@rmackay9 Any news on this? I am going to try duplicating it on my F550. The problem is easy to duplicate on an Iris and S900 for far by commanding a guided takeoff with the R/C turned off.

[2016-05-30 05:29] yazinsai commented on #3098
+1

[2016-05-30 05:30] yazinsai commented on #3098
@jankansky how did you end up solving this? would really appreciate some help, as I have the exact same issue. thanks!

[2016-05-30 17:28] buckker commented on #4210
I think you didn't see the problem. I didn't pitch back. I only push the stick in his neutral position. As you probably have seen, in AltHold the multicopter go horizontal and then tilt back (without a command from me.)

Take a look at those graphs.

Stabilize:
![stabilize](https://cloud.githubusercontent.com/assets/7835537/15655282/02e6092c-269c-11e6-9036-77d383d44c29.jpg)

AltHold:
![althold](ht

[2016-05-31 00:57] rmackay9 commented on #4210
I agree with Rob's advice on lowering the maximum acceleration.

I've had a quick look at the logs and it looks like it's handling pretty well and then it suddenly goes wrong.  To me that means an external disturbance or a mechanical issue.  Two of the motors (2 - upper front left, and 6 - lower front right) are hitting their lower limit.

The center-of-gravity (COG) of the vehicle also looks quit

[2016-05-31 00:57] #4210 closed

[2016-05-31 01:08] WickedShell commented on #4230
Consensus is that this seems totally reasonable and we can mark the ardupilot wind as deprecated and send both for awhile.

However in the WIND_COV are the wind_x etc expected as to or from's? (And the XML should be made more specific)

And for things that we don't have a value for (accuracies for example) do we simply report 0 or is there some other accepted value? (and again we should update the

[2016-05-31 02:14] jinchengde commented on #4200
May I ask then we could cut off the engine with shut down the CDI for gas engine?

[2016-05-31 04:46] magicrub commented on #4200
Via disarm
On May 30, 2016 7:14 PM, "Jin Chengde" <notifications@github.com> wrote:

[2016-05-31 04:46] olliw42 commented on #4210
why would that explain that it repeatedly happens in AltHold but never in Stabilize ?

[2016-05-31 05:01] rmackay9 commented on #4210
@olliw42, so the basic attitude control is the same between Stabilize and AltHold.  The only difference would be the throttle level.  So what's likely happening is that as the vehicle leans back, the altitude hold controller sees the vehicle starting to rise and fights back against that.  To "fight back" it reduces the throttle.  Doing that causes a conflict between attitude control and throttle l

[2016-05-31 05:47] olliw42 commented on #4210
this was a very detailed and good explanation, thx a lot :)
the case made me curios since it seemed contradictory but I failed to see that both controller have to act on the same output, thx for the lesson

[2016-05-31 08:14] ljy1992 commented on #3706
I've got the same problem, what's the solution of this problem? It seems the libraries are not included correctly...

[2016-05-31 08:15] buckker commented on #4210
Thanks for your explanation, Randy

I will test it and give a feedback on this. If I have success, it would be great to share those tuning information on the arducopter documentation page.

[2016-05-31 08:59] WickedShell opened #4235 "GPS: SBF is continously detected and then reported as lost when not connected"
#### Issue details

Every 2 seconds it reports detecting the GPS as SBF (when there is no GPS connected)
#### Version

e7974702 (but still valid for master)
#### Platform

[ x ] All
[  ] AntennaTracker
[  ] Copter
[  ] Plane
[  ] Rover
#### Hardware type

Searching for SBF GPS

[2016-05-31 09:52] meee1 commented on #4235
this is the gps autodetect code at work. it is cycling through baud rates, and if it doesn't get a valid response, the autodetect code moves on to the next baud rate

the GSOF/SBP and soon to be NOVA drivers all do this.

[2016-05-31 09:59] WickedShell commented on #4235
I get that its autodetect, but this means to the ground/external side that we have found a valid SBF instance (which is why auto detect passed). If there was never a response how is it being accepted?

[2016-05-31 10:13] meee1 commented on #4235
there is no autodetect sequence for these gps's. they are always manually specified

[2016-05-31 10:15] WickedShell commented on #4235
Does that mean that the SBF driver manages baud rate? As everytime we restart autodetect we go back to the first baud rate there?

[2016-05-31 10:20] meee1 commented on #4235
no, the autodetect managed the baudrate.
1. autodetect sets baud
2. autodetect inits driver
3. driver inits gps (or ties to)
4. if baud was bad, gps doesn't init, move to next baud.
5. baud is correct, gps inits.
6. valid message received, continue as normal.

should the gps have issues in flight, this means that the autodetect code would reinit the gps, if no valid messages are received.

[2016-05-31 10:39] meee1 commented on #4235
its using the autodetect code to autobaud effectively.

[2016-05-31 10:56] WickedShell commented on #4235
I'm sorry, I thought when we unloaded a driver we reset it's detect state, I see thats not actually the case. Maybe we should just move the print of detecting the driver inside of the SBF layer rather then in the autodetect level?

IE: https://github.com/ArduPilot/ardupilot/blob/master/libraries/AP_GPS/AP_GPS.cpp#L241 inside AP_GPS_SBF that way its not always happening while searching? (and only o

[2016-05-31 11:16] meee1 commented on #4235
yep, makes sence. and prevents the spamming

[2016-06-01 02:49] R-Lefebvre commented on #4210
That's what I meant about "Control Bandwidth"

[2016-06-01 03:37] piningforfjords opened #4240 "Copter flyaways when used with custom MAVProxy code"
#### Issue details
  This is my first bug report.  We have been developing a machine for 1.5 years and have had amazing experience with APM/Pixhawk.  The move to 3.3 was equally amazing until we hit this bug.  We have had 3 different vehicles become completely uncontrollable since moving to 3.3.   All these vehicle have had extensive testing for months.  Afterwards they were flown via RC and showe

[2016-06-01 05:05] buckker commented on #4210
Hi Rob

I have reduced the ATC_ACCEL_P_MAX and ATC_ACCEL_P_MAX according to your recommendation. Unfortunately it doesn't help. The only thing I noticed is that the multicopter fly a little bit smoother. But that's all.

It was strange again, after leveling horizontally, the copter tilt back after probably 1 second and felt not controllable. I have to use the emergency exit and switch to Stabilize

[2016-06-01 05:37] rmackay9 commented on #4210
Hmm.. well, you could try reduce the altitude hold PID gains (maybe halve the lowest level accel gains).  That'll reduce the altitude hold performance but might help some.

My feeling is that there's only so far we can go in software.  I think you'll find if the camera is removed it flies better.  So a physical solution would be to move the center-of-gravity up.  I.e. mount the batteries above the

[2016-06-01 05:54] tridge commented on #4013
The GPS.RAlt field is not from the GPS, despite the name. That is the current relative alt. It is GPS.Alt that is from the GPS.
I've actually removed the RAlt field last week, as it was just confusing.

[2016-06-01 05:54] #4013 closed

[2016-06-01 09:28] lvale opened #4242 "Copter: 3.4-rc1 safety switch not obeyed on pixracer"
[bin_tlog_param.zip](https://github.com/ArduPilot/ardupilot/files/293140/bin_tlog_param.zip)

#### Issue details
Safety switch action, Can arm without safety switch enabled. Safety switch does not switch off motors if armed.

#### Version
3.4RC1
#### Platform
[  ] All
[  ] AntennaTracker
[x ] Copter
[  ] Plane
[  ] Rover

#### Airframe type
Copter Quad
#### Hardware type
PixRacer
#### Logs

[2016-06-01 09:37] WickedShell commented on #4242
Any more details? I have no clue what this is about...

On Wed, Jun 1, 2016 at 2:28 AM, Luis Vale Gonçalves <
notifications@github.com> wrote:

[2016-06-01 09:49] lvale commented on #4242
Safety switch is ignored. I'm in the process of retrieving logs.

[2016-06-01 12:45] night-ghost opened #4243 "NMEA mode don't work with multi-system modules (eg. mt3333)"
#### Issue details
because in AP_GPS_NMEA.cpp data compared with GPVTG GPRMC etc so ARDUPILOT want to listen NMEA v2. But new multi-system modules emits NMEA v4 where messages has prefix GA for Galileo, GN for Glonass and GL for unified data.

#### Version
all versions

#### Platform
[ * ] All
[  ] AntennaTracker
[  ] Copter
[  ] Plane
[  ] Rover

Here is small patch to correct this.
----- cut her

[2016-06-01 13:04] khancyr commented on #4226
@tridge
array of length zero doesn't work ... could we revert to array of length 1 ?

[2016-06-01 14:14] OXINARF commented on #4243
This has been fixed in master in April 18 (https://github.com/ArduPilot/ardupilot/commit/2a214f1e46f54194e1dc579ec0bc88d532a5c4f7), so please look at it before opening an issue. Also, if it indeed wasn't solved and you have a patch, it was better to open a PR.

[2016-06-01 14:14] #4243 closed

[2016-06-01 14:46] magicrub commented on #4242
Doh!
On Jun 1, 2016 2:49 AM, "Luis Vale Gonçalves" <notifications@github.com>
wrote:

[2016-06-01 14:55] magicrub commented on #4242
I made a change to this recently so I must have broke it. Sorry!
On Jun 1, 2016 7:46 AM, "Tom Pittenger" <tom@airphrame.com> wrote:

Doh!
On Jun 1, 2016 2:49 AM, "Luis Vale Gonçalves" <notifications@github.com>
wrote:

[2016-06-01 15:33] ferret-guy commented on #3920
I would love this, possibly instead add it as the first wp in an auto mission

[2016-06-01 15:43] magicrub commented on #3920
+1
On Jun 1, 2016 8:33 AM, "Mark Omo" <notifications@github.com> wrote:

[2016-06-01 15:48] gfunas opened #4245 "Flight time reduced in half"
#### Issue details
I had Naza v2. and flight time was about 17-18min, recently decided to try APM 2.8 3.3.3v for quadrocopter. After couple test i see that flight time now is about 9-10 min, and extra weight only +50gr.
In my FPV screen I see about 50-55% of battery and i loose throttle. Its like not enough power to the engines and cannot take off. Maybe i miss something in configuration ?

#### P

[2016-06-01 16:15] TimothyGold opened #4246 "AntennaTracker not forwarding Mavlink to GCS in master"
After changes in the Mavlink libraries over the last several weeks and changes in GCS_Mavlink.cpp I noticed that AntennaTracker in master is no longer forwarding packets to the GCS.  In Mission Planner the Antenna Tracker is the only ID that is discovered.

Version -
ArduPilot/ardupilot/master/AntennaTracker

#### Platform
[X] AntennaTracker

[2016-06-01 16:18] OXINARF commented on #4245
This isn't the place for support questions. Please post in the forums: http://discuss.ardupilot.org

[2016-06-01 16:18] #4245 closed

[2016-06-01 16:30] dgrat opened #4247 "Motors spin very fast after restart of ArduCopter @Navio2"
#### Issue details

Okay, I reproduced this error, it happens maybe 1 from 5 times..
Restarting ArduCopter may lead to odd behavior like sudden spin-starts of the motors, which is dangerous.
#### Version

3.4 beta
#### Platform

[  ] All
[  ] AntennaTracker
[ x ] Copter
[  ] Plane
[  ] Rover
#### Airframe type

quad
#### Hardware type

Navio2/HobbyWing X-Rotor ESCs
#### Logs

Not possible, because

[2016-06-01 17:19] magicrub commented on #4242
I just tested it in plane and it works fine. Can someone else test master
on copter and report back?

On Wed, Jun 1, 2016 at 7:55 AM, Tom Pittenger <tom@airphrame.com> wrote:

[2016-06-01 19:00] staroselskii commented on #4247
@dgrat

It's possible to log before arming. You just need to add ```DisarmedLogging``` flag in GCS!

[2016-06-01 19:20] buckker commented on #4210
I did 2 test flights this evening. I reduce the Alt Hold and the Accel gains. But it didn't help... I thought I modify the test method a little bit. I only descend in a angle from maybe 60°. So, no fast maneuvers.. The goal was to reduce the influence of my copter design (low center of gravity) One time it overshot again in AltHold( the copter leans back)... In Stabilize no problem. After this, I

[2016-06-01 19:22] lvale commented on #4242
What was the change that caused the issue ?? I can try it as soon as the build server has a copter-quad version, my compilation environment is broken :)

[2016-06-01 19:34] Jesse-Millwood opened #4249 "SITL Floating Point Exception with Plane 3.6 beta1"
#### Issue details
I got a Floating point exception while running ArduPlane in SITL. I ran mavproxy with the -G option so here is the back trace:
[code]
This occurred while I was trying to upload a mission.
I did find the issue however, which happened to be my error by accidentally forgetting the decimal point making the lat -104845746 instead of -104.845746. Once I fixed that, all worked fine.
I

[2016-06-01 19:41] magicrub commented on #4249
Hi Jesse, thanks for the bug report. There is a sanity check for valid GPS
bounds in there but this must not be using it. We'll get that fixed up for
the next beta

On Wed, Jun 1, 2016 at 12:34 PM, Jesse Millwood <notifications@github.com>
wrote: